@charset "UTF-8";
:root {
  --primaryColor:#ffcc00;
  --primaryColor-similar:#E6B800;
  --secondaryColor:#8d695c;
  --tertiaryColor:#95b2b8;
  --buttonColor:#205c6a;
  --carouselFontColor:black;
  --textColor:black;
  --lightColor:white;
  --focusColor:#B309A6;
  --greyColor: #707070;
  --shadowColor:#c5c5c5;
  --backgroundColor:white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor:#1c474a;
    --primaryColor-similar:#3b787d;
    --secondaryColor:#905E14;
    --tertiaryColor:#6DA7D9;
    --buttonColor:#8B93A7;
    --carouselFontColor:black;
    --textColor:#FFCC00;
    --lightColor:black;
    --focusColor:#B309A6;
    --greyColor: #707070;
    --shadowColor:#515151;
    --backgroundColor:rgb(105, 105, 105);
    --darkBrightness:0.8;
  }
}
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--textColor);
}

p + p {
  padding-top: 0.5rem;
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
  color: var(--textColor);
}

h4 {
  text-align: left;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-top: 2rem;
}

h2::after {
  background-color: transparent;
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-bottom: 5px dotted var(--primaryColor);
  width: 10vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

*::-moz-selection {
  background-color: yellow;
  color: rgb(20, 10, 2);
}

*::selection {
  background-color: yellow;
  color: rgb(20, 10, 2);
}

a:focus-visible {
  outline: 6px dotted #B309A6;
}

[src$=".png"], [src$=".jpg"], [src$=".jpeg"], [src$=".svg"], svg,
.fotogalerie__link {
  filter: brightness(var(--darkBrightness));
}

li {
  text-align: left;
  color: var(--textColor);
}

.openNewTab:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}

.pdf-icon:before {
  content: "";
  display: inline-block;
  background-image: url(/images/pdf-icon.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
}

.word-icon:before {
  content: "";
  display: inline-block;
  background-image: url(/images/word-icon.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
}

.banner-prihlaseni {
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 1.5rem auto 0 auto;
  background-color: var(--primaryColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5rem;
}
.banner-prihlaseni__text {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0;
}

/* skok na hlavní oblast*/
#skiptocontent a {
  padding: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  top: -4.5rem;
  left: 0px;
  color: white;
  border-bottom-right-radius: 15px;
  background: var(--focusColor);
  z-index: 100;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.skiptocontent__text {
  color: white;
}

#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: top 0.4s ease-in-out;
}

.button {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 15px;
  background-color: var(--buttonColor);
  color: var(--lightColor);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}
.button:hover {
  background-color: var(--tertiaryColor);
  color: var(--textColor);
  transition: all 0.3s;
}

.button__link {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  color: var(--lightColor);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--buttonColor);
  display: inline-block;
}
.button__link:hover {
  background-color: var(--tertiaryColor);
  color: var(--textColor);
  transition: all 0.3s;
}

button:focus-visible {
  outline: 6px dotted var(--focusColor);
}

.body--background {
  height: 100%;
  background-image: url(/images/obloha1.svg), url(/images/Kilimanjaro_my1.svg);
  background-repeat: no-repeat, no-repeat;
  background-color: var(--backgroundColor);
  background-position: left top, bottom;
  background-size: 100%, 100%;
  position: relative;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, calc(1 - var(--darkBrightness)));
  pointer-events: none;
  z-index: -1;
}

.header {
  width: 100%;
  position: relative;
}

.snowflake {
  position: absolute;
}
@keyframes vlocka-pada {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50px) translateX(25px);
  }
  50% {
    transform: translateY(100px) translateX(-25px);
  }
  75% {
    transform: translateY(150px) translateX(25px);
  }
  100% {
    transform: translateY(200px) translateX(-25px);
  }
}
.snowflake--1 {
  top: -40px;
  left: 10vw;
  width: 40px;
  animation: vlocka-pada 10s infinite both linear;
}
.snowflake--2 {
  top: -40px;
  left: 20vw;
  width: 30px;
  animation: vlocka-pada 8s infinite 1s both linear;
}
.snowflake--3 {
  top: -40px;
  left: 30vw;
  width: 20px;
  animation: vlocka-pada 12s infinite 5s both linear;
}
.snowflake--4 {
  top: -40px;
  left: 40vw;
  width: 40px;
  animation: vlocka-pada 19s infinite 3s both linear;
}
.snowflake--5 {
  top: -40px;
  left: 50vw;
  width: 30px;
  animation: vlocka-pada 15s infinite 9s both linear;
}
.snowflake--6 {
  top: -40px;
  left: 60vw;
  width: 20px;
  animation: vlocka-pada 13s infinite 1s both linear;
}
.snowflake--7 {
  top: -40px;
  left: 70vw;
  width: 40px;
  animation: vlocka-pada 18s infinite 6s both linear;
}
.snowflake--8 {
  top: -40px;
  left: 80vw;
  width: 10px;
  animation: vlocka-pada 8s infinite 4s both linear;
}
.snowflake--9 {
  top: -40px;
  left: 90vw;
  width: 30px;
  animation: vlocka-pada 10s infinite 8s both linear;
}

.menu {
  min-height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 0 5px;
  margin: 0;
  position: relative;
  padding-right: 1rem;
}
.menu__icon {
  align-self: center;
}
.menu__icon svg {
  width: 100%;
  height: 40px;
}
.menu__logo {
  font-size: 2rem;
  justify-self: flex-start;
}
@keyframes mrk {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes toceniocivlevo {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(180deg);
  }
  95% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes toceniocivpravo {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(-90deg);
  }
  90% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.menu__logo #g2290 {
  animation: mrk 4s infinite both ease;
  transform-origin: 0 281.77px;
}
.menu__logo #path3163 {
  animation: toceniocivlevo 4s infinite both ease;
  transform-origin: 390px 281.77px;
}
.menu__logo #path3161 {
  animation: toceniocivpravo 4s infinite both ease;
  transform-origin: 440px 281.77px;
}
.menu__logo--svg {
  max-height: 100%;
  transform: translateY(20px);
}
@media screen and (min-width: 63rem) {
  .menu__logo--svg {
    left: calc((100% - 70rem) / 2);
  }
}
.menu__list {
  display: block;
  list-style: none;
  z-index: 3;
  font-size: 1.2rem;
  background-color: var(--primaryColor);
  padding: 0;
  position: absolute;
  left: -100%;
  top: 80px;
  gap: 0;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  color: var(--textColor);
}
.menu__list.menu__active {
  left: 0;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-weight: 500;
  color: var(--textColor);
  padding: 1.5rem 1.5rem;
}
.menu__link:hover {
  background-color: var(--tertiaryColor);
  color: #212121;
  height: -moz-max-content;
  height: max-content;
}
.menu__item {
  text-align: center;
  border-bottom: 1px solid var(--lightColor);
  color: var(--textColor);
}
.menu__item--active .menu__link {
  background-color: var(--buttonColor);
  color: var(--lightColor);
}
.menu__hamburger.menu__active .menu__bar:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.menu__active .menu__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu__hamburger.menu__active .menu__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.menu__hamburger {
  display: block;
  cursor: pointer;
  background-color: var(--primaryColor);
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
}
.menu__bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--textColor);
}
@media screen and (min-width: 70rem) {
  .menu {
    max-width: 70rem;
    margin: auto;
  }
  .menu__list {
    display: flex;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: -moz-max-content;
    max-width: max-content;
    align-items: stretch;
    width: auto;
    left: auto;
    top: auto;
    position: relative;
    vertical-align: middle;
  }
  .menu__hamburger {
    display: none;
  }
  .menu__item {
    display: block;
    z-index: 100;
    border-bottom: 0;
    border-right: 1px solid var(--lightColor);
  }
  .menu__item:last-child {
    border: 0;
  }
  .menu__item:last-child :hover {
    border-top-right-radius: 15px;
  }
  .menu__item:first-child :hover {
    border-bottom-left-radius: 15px;
  }
  .menu__item--active:first-child .menu__link {
    border-bottom-left-radius: 15px;
  }
  .menu__item--active:last-child .menu__link {
    border-top-right-radius: 15px;
  }
}

.glide {
  width: 100%;
  z-index: 2;
}
.glide__accesibility {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 3;
  visibility: visible;
  opacity: 0;
}
.glide__accesibility button {
  margin-top: 0;
}
.glide__slides {
  height: 25rem;
}
.glide__slide--link {
  text-decoration: none;
}
.glide__picture-nemoc {
  background-image: url(/images/nemoc.svg);
  background-size: cover;
  background-position: bottom left;
}
.glide__picture-uzavreni {
  background-image: url(/images/CAROUSEL-UYAVRENI.svg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-dilnicky {
  background-image: url(/images/vitanijara.svg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-cviceni {
  background-image: url(/images/carousel-cviceni.png);
  background-size: cover;
  background-position: bottom left;
}
.glide__picture-rytmicek {
  background-image: url(/images/carousel-rytmicek.png);
  background-size: cover;
  background-position: bottom right;
}
.glide__picture-skolicka {
  background-image: url(/images/skolka.svg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-anglictina {
  background-image: url(/images/carousel-nova-anglictina.svg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-zviratka {
  background-image: url(/images/zviratka.jpg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-narozeniny {
  background-image: url(/images/narozeniny.jpg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-bazarek {
  background-image: url(/images/bazarek.svg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-zoo {
  background-image: url(/images/zoo-cely1.jpg);
  background-size: cover;
  background-position: bottom center;
  color: var(--lightColor);
}
.glide__picture-1 {
  background-image: url(/images/balduvSvet.png);
  background-size: cover;
  background-position: bottom center;
  color: var(--lightColor);
}
.glide__picture-2 {
  background-image: url(/images/zoo-cely1.jpg);
  background-size: cover;
  background-position: bottom center;
  color: var(--lightColor);
}
.glide__picture-3 {
  background-image: url(/images/20230601_denDeti.png);
  background-size: cover;
  background-position: bottom center;
  color: var(--lightColor);
}
.glide__picture-4 {
  background-image: url(/images/20230414_odrazedla-velky-carousel.jpg);
  background-size: cover;
  background-position: bottom center;
  color: var(--lightColor);
}
.glide__picture-5 {
  background-color: var(--primaryColor);
  background-position: bottom center;
  color: var(--lightColor);
}
.glide__event-name {
  font-size: 2.5rem;
  color: var(--carouselFontColor);
  padding: 2rem 0.5rem 0 0.5rem;
}
@media screen and (min-width: 37rem) {
  .glide__event-name {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.glide__event-name--nemoc {
  font-size: 1.8rem;
  color: #34131a;
  background-color: rgba(216, 192, 161, 0.8);
}
@media screen and (min-width: 63rem) {
  .glide__event-name--nemoc {
    font-size: 2.4rem;
  }
}
.glide__event-name--uzavreni {
  font-size: 1.8rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--uzavreni {
    font-size: 2.4rem;
  }
}
.glide__event-name--bazarek {
  font-size: 1.8rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--bazarek {
    padding-top: 190px;
    font-size: 2.4rem;
  }
}
.glide__event-name--cviceni {
  font-size: 1.8rem;
  padding-top: 150px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--cviceni {
    font-size: 2.4rem;
  }
}
.glide__event-name--rytmicek {
  font-size: 1.8rem;
  padding-top: 110px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--rytmicek {
    font-size: 2.4rem;
  }
}
.glide__event-name--skolicka {
  font-size: 1.8rem;
  padding-top: 20px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--skolicka {
    font-size: 2.4rem;
  }
}
.glide__event-name--zviratka {
  font-size: 2rem;
  padding-top: 120px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--zviratka {
    font-size: 2.4rem;
    padding-top: 60px;
  }
}
.glide__event-name--narozeniny {
  font-size: 2rem;
  padding-top: 120px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--narozeniny {
    font-size: 2.4rem;
    padding-top: 60px;
  }
}
.glide__event-name--dilnicky {
  font-size: 2rem;
  padding-top: 250px;
  text-align: right;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--dilnicky {
    padding-top: 60px;
  }
}
.glide__event-name--zoo {
  padding-top: 100px;
  color: black;
}
.glide__event-name--3 {
  font-size: 1.8rem;
}
@media screen and (min-width: 37rem) {
  .glide__event-name--3 {
    font-size: 2.5rem;
  }
}
.glide__event-name--5 {
  font-size: 1.8rem;
}
@media screen and (min-width: 37rem) {
  .glide__event-name--5 {
    font-size: 2.5rem;
  }
}
.glide__event-name--anglictina {
  font-size: 2.5rem;
}
.glide__event-name--2 {
  padding-top: 100px;
}
.glide__event-name--1 {
  padding-top: 50px;
}
.glide__event-date {
  color: var(--carouselFontColor);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 37rem) {
  .glide__event-date {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.glide__event-date--nemoc {
  font-size: 1.7rem;
}
.glide__event-date--dilnicky {
  text-align: right;
}
@media screen and (min-width: 37rem) {
  .glide__event-date--dilnicky {
    padding-top: 0;
  }
}
.glide__event-date--anglictina {
  color: var(--textColor);
  font-size: 1.7rem;
  padding-top: 1.5rem;
}
.glide__event-date--bazarek {
  color: var(--textColor);
  font-size: 1.7rem;
}
.glide__event-date--zoo {
  font-size: 1.7rem;
  padding-top: 0.5rem;
  color: black;
}
.glide__event-date--2 {
  font-size: 1.7rem;
  padding-top: 0.5rem;
}
.glide__event-date--3 {
  font-size: 1.2rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-date--3 {
    font-size: 2rem;
  }
}
.glide__event-date--5 {
  font-size: 1.2rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-date--5 {
    font-size: 2rem;
  }
}
.glide__arrow {
  color: var(--textColor);
}
@media screen and (min-width: 80rem) {
  .glide__track {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
@media screen and (min-width: 63rem) {
  .glide {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (prefers-color-scheme: dark) {
  .glide__slide {
    filter: brightness(0.9);
  }
}

.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  transform: translateY(-50%);
  background: var(--primaryColor-similar);
  overflow: auto;
  z-index: 3;
}
.dialog__window {
  width: 100%;
  max-width: 0 auto;
  display: block;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (min-width: 63rem) {
  .dialog__window {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.dialog__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: var(--textColor);
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primaryColor-similar);
  border: 0.5px solid grey;
  padding: 0;
}
.dialog.active {
  display: block;
  animation: popupAnimation 1500ms ease-in-out forwards;
}
.dialog.active .dialog__window {
  transition: all 100ms ease-in-out 1300ms;
}
@keyframes popupAnimation {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.dialog__event-name:first-of-type {
  padding-top: 4rem;
}
.dialog__event-time {
  font-weight: 300;
  padding-top: 0.5rem;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
}

.zruseni-programu {
  max-width: calc(100vw - 1rem);
  padding: 1.5rem;
  margin: 1.5rem auto 0 auto;
  background-color: var(--primaryColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}
.zruseni-programu h2 {
  padding-top: 0;
}
@media screen and (min-width: 63rem) {
  .zruseni-programu {
    max-width: 70rem;
  }
}

.regular-event {
  max-width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 1.5rem;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  grid-template-areas: "monday-grid" "tuesday-grid" "wednesday-grid" "thursday-grid" "friday-grid";
}
.regular-event__card {
  background-color: var(--primaryColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-bottom: 1.5rem;
}
.regular-event__day {
  background-color: var(--secondaryColor);
  border-top-right-radius: 15px;
  color: var(--lightColor);
  padding-bottom: 1.5rem;
}
.regular-event__program p {
  text-align: center;
}
.regular-event__program p:nth-child(n) {
  padding: 0.5rem;
}
.regular-event__program p:nth-child(odd) {
  background-color: var(--primaryColor-similar);
  border-top: 0.5px inset black;
}
.regular-event__program p:last-of-type {
  border-bottom: 0.5px ridge black;
}
.regular-event__card--monday {
  grid-area: monday-grid;
}
.regular-event__card--tuesday {
  grid-area: tuesday-grid;
}
.regular-event__card--wednesday {
  grid-area: wednesday-grid;
}
.regular-event__card--thursday {
  grid-area: thursday-grid;
}
.regular-event__card--friday {
  grid-area: friday-grid;
}
.regular-event__today {
  color: var(--lightColor);
  border: 1px solid var(--lightColor);
  padding: 2px 1rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media screen and (min-width: 37rem) {
  .regular-event {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    align-items: stretch;
    grid-template-areas: "monday-grid    monday-grid     tuesday-grid    tuesday-grid" "wednesday-grid wednesday-grid  thursday-grid   thursday-grid" ".              friday-grid        friday-grid  .";
  }
}
@media screen and (min-width: 63rem) {
  .regular-event {
    max-width: 70rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    align-items: stretch;
    grid-template-areas: "monday-grid    monday-grid     tuesday-grid    tuesday-grid wednesday-grid wednesday-grid  " ".              thursday-grid   thursday-grid   friday-grid  friday-grid    .           ";
  }
}

.recent-event {
  margin: 1.5rem auto 40vw auto;
  max-width: calc(100vw - 1rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  flex: 1 1 calc(50% - 1.5rem);
  gap: 1.5rem;
}
.recent-event--uvod {
  margin-bottom: 0;
}
.recent-event__card {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--primaryColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.recent-event__description {
  text-align: left;
}
.recent-event__title {
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 0;
}
.recent-event__noevent {
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.recent-event__text {
  line-height: 2;
  color: var(--textColor);
}
.recent-event--hyperlink {
  text-decoration: none;
  color: var(--textColor);
}
.recent-event__image {
  width: 100%;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.recent-event__leaflet {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
@media screen and (min-width: 37rem) {
  .recent-event__leaflet {
    max-width: 50%;
  }
}
@media screen and (min-width: 63rem) {
  .recent-event__leaflet {
    margin-top: 0;
    max-width: 30%;
  }
}
@media screen and (min-width: 30rem) {
  .recent-event__card {
    width: calc(50% - 1.5rem);
  }
  .recent-event--uvod > .recent-event__card {
    width: calc(100% - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .recent-event {
    max-width: 70rem;
  }
  .recent-event__description {
    display: block;
  }
  .recent-event__leaflet {
    float: right;
    padding: 0.5rem;
  }
}

.separator {
  width: 100%;
  height: 2rem;
  background-image: url(/images/stopy.svg);
  background-repeat: repeat-x;
  background-size: contain;
  margin-top: 2rem;
  transform: translateX(-2rem);
}

.aboutus {
  margin: 1.5rem auto 0 auto;
  row-gap: 1.5rem;
}
.aboutus__link {
  font-weight: 700;
}
.aboutus__link--external:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}
.aboutus__link:link {
  color: var(--buttonColor);
}
.aboutus__link:visited {
  color: var(--textColor);
}
.aboutus__link:hover {
  color: var(--tertiaryColor);
}
.aboutus__card {
  max-width: calc(100vw - 1rem);
  background-color: var(--primaryColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5rem;
  margin: 1.5rem auto 0 auto;
  text-align: left;
}
.aboutus__card--uvod {
  text-align: center;
}
.aboutus__card p:last-child {
  padding-bottom: 0;
}
.aboutus__button {
  margin-left: auto;
  margin-right: auto;
}
.aboutus__description {
  padding-bottom: 1.5rem;
  text-align: left;
}
.aboutus__banner-givt {
  text-align: center;
}
.aboutus__banner-givt img {
  max-width: 100%;
  padding-top: 1.5rem;
}
.aboutus__ordered-list-item + .aboutus__ordered-list-item {
  padding-top: 0.5rem;
}
@media screen and (min-width: 63rem) {
  .aboutus {
    max-width: 70rem;
  }
}

.ourteam {
  max-width: calc(100vw - 1rem);
  margin: 80px auto 40vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 calc(50% - 1.5rem);
  row-gap: 90px;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.ourteam__person {
  width: 100%;
  background-color: var(--primaryColor);
  box-shadow: 1 1px 3px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.ourteam__name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}
.ourteam__foto {
  height: 100px;
  padding: 10px;
  position: absolute;
  left: calc(50% - 60px);
  top: -70px;
  margin: 0;
}
.ourteam__img {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: 1px solid var(--textColor);
  border-radius: 50%;
  box-shadow: 0 -5px 10px var(--greyColor);
  background-color: white;
}
.ourteam__img--realfoto {
  border: 0;
}
.ourteam__description {
  padding: 30px;
}
@media screen and (min-width: 37rem) {
  .ourteam__person {
    width: calc(50% - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .ourteam {
    max-width: 70rem;
  }
}

.pravidelny-program {
  max-width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1.5rem;
  margin: 1.5rem auto 40vw auto;
  text-align: center;
}
.pravidelny-program__card {
  background-color: var(--primaryColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.pravidelny-program__akce {
  background-color: var(--secondaryColor);
  border-top-right-radius: 15px;
  color: var(--lightColor);
  padding-bottom: 1.5rem;
}
.pravidelny-program__popis {
  padding: 1.5rem;
}
.pravidelny-program__casy {
  background-color: var(--primaryColor-similar);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  font-weight: 300;
  padding: 0.5rem;
  display: inline-block;
}
@media screen and (min-width: 63rem) {
  .pravidelny-program {
    max-width: 70rem;
  }
}

.fotogalerie {
  max-width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  row-gap: 1.5rem;
  margin: 1.5rem auto 40vw auto;
  grid-template-areas: "hernicka" "akce" "program";
}
.fotogalerie__grid {
  max-width: calc(100vw - 1rem);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(100px, 200px);
  gap: 1rem;
  grid-auto-flow: dense;
}
.fotogalerie__grid:last-child {
  margin-bottom: 50vw;
}
.fotogalerie__grid img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.fotogalerie__grid--wide {
  grid-column: span 2;
}
.fotogalerie__grid--tall {
  grid-row: span 2;
}
.fotogalerie__grid--big {
  grid-row: span 2;
  grid-column: span 2;
}
.fotogalerie__skupina {
  padding: 1.5rem;
}
.fotogalerie__video {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 1rem);
  padding-top: 1.5rem;
}
.fotogalerie__video video {
  height: 100%;
  border-radius: 0.5rem;
}
.fotogalerie__video--nadpis {
  padding-top: 1.5rem;
}
@media screen and (min-width: 37rem) {
  .fotogalerie__video {
    max-width: 37rem;
  }
}
.fotogalerie__hernicka {
  background-image: url(/images/fotogalerie/hernicka/hlavni-hernicka.jpg);
  background-size: cover;
  grid-area: hernicka;
}
.fotogalerie__akce {
  background-image: url(/images/fotogalerie/akce/hlavni-akce.jpg);
  background-size: cover;
  text-align: center;
  grid-area: akce;
}
.fotogalerie__program {
  background-image: url(/images/fotogalerie/pravidelny-program/hlavni-pravidelny-program.jpg);
  background-size: cover;
  text-align: center;
  grid-area: program;
}
.fotogalerie__link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--lightColor);
  text-decoration: none;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5rem;
}
@media screen and (min-width: 37rem) {
  .fotogalerie {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    grid-template-areas: "hernicka hernicka akce akce" ".        program   program   .";
  }
}
@media screen and (min-width: 63rem) {
  .fotogalerie {
    max-width: 70rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    grid-template-areas: "hernicka akce program";
  }
  .fotogalerie__link:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .fotogalerie__grid {
    max-width: 70rem;
  }
  .fotogalerie__grid img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }
}

blockquote {
  font-size: 0.7rem;
}

.sponsors {
  max-width: calc(100vw - 1rem);
  margin: 1.5rem auto 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--lightColor);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media (prefers-color-scheme: dark) {
  .sponsors {
    background-color: white;
    opacity: 0.7;
  }
}
.sponsors__img {
  max-width: 70px;
  height: 100%;
  vertical-align: middle;
}
@media screen and (min-width: 37rem) {
  .sponsors__img {
    max-width: 150px;
  }
}
.sponsors__hyperlink {
  width: 100%;
  height: 100%;
}
.sponsors__item {
  padding: 1.5rem;
  flex: 0 0 calc(16% - 20px);
}
.sponsors__item ~ .sponsors__item {
  margin: auto;
}
@media screen and (min-width: 63rem) {
  .sponsors {
    max-width: 70rem;
  }
}

.contact {
  max-width: calc(100vw - 1rem);
  background-color: var(--primaryColor);
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  margin: 1.5rem auto 40vw auto;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 1.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: var(--textColor);
}
.contact__title {
  display: block;
  font-style: oblique;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.contact__map {
  grid-row: 3;
  grid-column: 1/-1;
  width: 100%;
}
.contact__map iframe {
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.contact__link:link {
  color: var(--buttonColor);
}
.contact__link:visited {
  color: var(--textColo) r;
}
.contact__link:hover {
  color: var(--tertiaryColor);
}
.contact__link:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}
@media screen and (min-width: 37rem) {
  .contact {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto);
  }
  .contact__map {
    grid-row: 1/-1;
    grid-column: 2;
  }
}
@media screen and (min-width: 63rem) {
  .contact {
    max-width: 70rem;
  }
}

.footer__copyright {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--greyColor);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--lightColor);
  transform: translateY(3rem);
}/*# sourceMappingURL=style.css.map */