@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

p + p {
  padding-top: 0.5rem;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-top: 2rem;
}

h2::after {
  background-color: transparent;
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-bottom: 5px dotted #FFCC00;
  width: 10vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

*::-moz-selection {
  background-color: yellow;
  color: rgb(20, 10, 2);
}

*::selection {
  background-color: yellow;
  color: rgb(20, 10, 2);
}

a:focus-visible {
  outline: 6px dotted #B309A6;
}

.banner-prihlaseni {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 1.5rem auto 0 auto;
  background-color: #FFCC00;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5rem;
}
.banner-prihlaseni__text {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0;
}

/* skok na hlavní oblast*/
#skiptocontent a {
  padding: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  top: -3rem;
  left: 0px;
  color: white;
  border-bottom-right-radius: 15px;
  background: #B309A6;
  transition: top 1s ease-out;
  z-index: 100;
  font-size: 1.2rem;
  font-weight: 600;
}

#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  transition: top 0.1s ease-in;
}

.button {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #205c6a;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}
.button:hover {
  background-color: #95b2b8;
  color: black;
  transition: all 0.3s;
}

.button__link {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 15px;
  background-color: #205c6a;
  display: inline-block;
}
.button__link:hover {
  background-color: #95b2b8;
  color: black;
  transition: all 0.3s;
}

button:focus-visible {
  outline: 6px dotted #B309A6;
}

.body--background {
  height: 100%;
  background-image: url(/images/obloha1.svg), url(/images/Kilimanjaro_my1.svg);
  background-repeat: no-repeat, no-repeat;
  background-color: white;
  background-position: left top, bottom;
  background-size: 100%, 100%;
}

.header {
  width: 100%;
  position: relative;
}
.header__flex-logo-menu {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.snowflake {
  position: absolute;
}
@-webkit-keyframes vlocka-pada {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50px) translateX(25px);
  }
  50% {
    transform: translateY(100px) translateX(-25px);
  }
  75% {
    transform: translateY(150px) translateX(25px);
  }
  100% {
    transform: translateY(200px) translateX(-25px);
  }
}
@keyframes vlocka-pada {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50px) translateX(25px);
  }
  50% {
    transform: translateY(100px) translateX(-25px);
  }
  75% {
    transform: translateY(150px) translateX(25px);
  }
  100% {
    transform: translateY(200px) translateX(-25px);
  }
}
.snowflake--1 {
  top: -40px;
  left: 10vw;
  width: 40px;
  -webkit-animation: vlocka-pada 10s infinite both linear;
          animation: vlocka-pada 10s infinite both linear;
}
.snowflake--2 {
  top: -40px;
  left: 20vw;
  width: 30px;
  -webkit-animation: vlocka-pada 8s infinite 1s both linear;
          animation: vlocka-pada 8s infinite 1s both linear;
}
.snowflake--3 {
  top: -40px;
  left: 30vw;
  width: 20px;
  -webkit-animation: vlocka-pada 12s infinite 5s both linear;
          animation: vlocka-pada 12s infinite 5s both linear;
}
.snowflake--4 {
  top: -40px;
  left: 40vw;
  width: 40px;
  -webkit-animation: vlocka-pada 19s infinite 3s both linear;
          animation: vlocka-pada 19s infinite 3s both linear;
}
.snowflake--5 {
  top: -40px;
  left: 50vw;
  width: 30px;
  -webkit-animation: vlocka-pada 15s infinite 9s both linear;
          animation: vlocka-pada 15s infinite 9s both linear;
}
.snowflake--6 {
  top: -40px;
  left: 60vw;
  width: 20px;
  -webkit-animation: vlocka-pada 13s infinite 1s both linear;
          animation: vlocka-pada 13s infinite 1s both linear;
}
.snowflake--7 {
  top: -40px;
  left: 70vw;
  width: 40px;
  -webkit-animation: vlocka-pada 18s infinite 6s both linear;
          animation: vlocka-pada 18s infinite 6s both linear;
}
.snowflake--8 {
  top: -40px;
  left: 80vw;
  width: 10px;
  -webkit-animation: vlocka-pada 8s infinite 4s both linear;
          animation: vlocka-pada 8s infinite 4s both linear;
}
.snowflake--9 {
  top: -40px;
  left: 90vw;
  width: 30px;
  -webkit-animation: vlocka-pada 10s infinite 8s both linear;
          animation: vlocka-pada 10s infinite 8s both linear;
}

.menu {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  z-index: 3;
}
.menu__list {
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  background-color: #FFCC00;
  padding: 0;
  display: none;
  width: 100%;
  z-index: 3;
}
.menu__item {
  border-bottom: 1px solid white;
}
.menu__item--active .menu__link {
  background-color: #205c6a;
  color: white;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  font-weight: 500;
}
.menu__link:hover {
  background-color: #95b2b8;
  color: #212121;
  transition: all 0.3s;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
  text-align: left;
  padding-right: 10vw;
}
.menu__toggler img {
  height: 4rem;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
  position: absolute;
  width: 100vw;
  right: 0;
}
@media screen and (min-width: 63rem) {
  .menu {
    display: flex;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .menu__checkbox:checked ~ .menu__list {
    display: flex;
    position: absolute;
  }
  .menu__item {
    border-bottom: 0;
    border-right: 1px solid white;
  }
  .menu__item:last-child {
    border: 0;
  }
  .menu__item:last-child :hover {
    border-top-right-radius: 15px;
  }
  .menu__item:first-child :hover {
    border-bottom-left-radius: 15px;
  }
  .menu__item--active:first-child .menu__link {
    border-bottom-left-radius: 15px;
  }
  .menu__item--active:last-child .menu__link {
    border-top-right-radius: 15px;
  }
}

@-webkit-keyframes mrk {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes mrk {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes toceniocivlevo {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(180deg);
  }
  95% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes toceniocivlevo {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(180deg);
  }
  95% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes toceniocivpravo {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(-90deg);
  }
  90% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes toceniocivpravo {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(-90deg);
  }
  90% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.header #g2290 {
  -webkit-animation: mrk 4s infinite both ease;
          animation: mrk 4s infinite both ease;
  transform-origin: 0 281.77px;
}
.header #path3163 {
  -webkit-animation: toceniocivlevo 4s infinite both ease;
          animation: toceniocivlevo 4s infinite both ease;
  transform-origin: 390px 281.77px;
}
.header #path3161 {
  -webkit-animation: toceniocivpravo 4s infinite both ease;
          animation: toceniocivpravo 4s infinite both ease;
  transform-origin: 440px 281.77px;
}
.header--picture-left {
  height: 8rem;
  position: absolute;
  bottom: 0;
}
.header--picture-left {
  left: 10vw;
  top: 1rem;
}
@media screen and (min-width: 63rem) {
  .header--picture-left {
    left: calc((100% - 70rem) / 2);
  }
}

.glide {
  width: 100%;
  z-index: 2;
}
.glide__slides {
  height: 25rem;
}
.glide__slide--link {
  text-decoration: none;
}
.glide__picture-nemoc {
  background-image: url(/images/nemoc.svg);
  background-size: cover;
  background-position: bottom left;
}
.glide__picture-uzavreni {
  background-image: url(/images/CAROUSEL-UYAVRENI.svg);
  background-size: cover;
  background-position: bottom center;
}
.glide__picture-dilnicky {
  background-image: url(/images/krmitko.svg);
  background-size: cover;
  background-position: bottom left;
}
.glide__picture-cviceni {
  background-image: url(/images/carousel-cviceni.png);
  background-size: cover;
  background-position: bottom left;
}
.glide__picture-rytmicek {
  background-image: url(/images/carousel-rytmicek.png);
  background-size: cover;
  background-position: bottom right;
}
.glide__picture-skolicka {
  background-image: url(/images/carousel-skolicka.png);
  background-size: cover;
  background-position: bottom right;
}
.glide__picture-2 {
  background-image: url(/images/carousel-nova-anglictina.svg);
  background-size: cover;
  background-position: bottom center;
  color: white;
}
.glide__picture-3 {
  background-image: url(/images/carousel-3.png);
  background-size: cover;
  background-position: bottom center;
  color: white;
}
.glide__picture-4 {
  background-image: url(/images/lucerna.svg);
  background-size: cover;
  background-position: bottom left;
  color: white;
}
.glide__event-name {
  font-size: 2.5rem;
  color: black;
  padding: 2rem 0.5rem 0 0.5rem;
}
@media screen and (min-width: 37rem) {
  .glide__event-name {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.glide__event-name--nemoc {
  font-size: 1.8rem;
  color: #34131a;
  background-color: rgba(216, 192, 161, 0.8);
}
@media screen and (min-width: 63rem) {
  .glide__event-name--nemoc {
    font-size: 2.4rem;
  }
}
.glide__event-name--uzavreni {
  font-size: 1.8rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--uzavreni {
    font-size: 2.4rem;
  }
}
.glide__event-name--cviceni {
  font-size: 1.8rem;
  padding-top: 150px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--cviceni {
    font-size: 2.4rem;
  }
}
.glide__event-name--rytmicek {
  font-size: 1.8rem;
  padding-top: 110px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--rytmicek {
    font-size: 2.4rem;
  }
}
.glide__event-name--skolicka {
  font-size: 1.8rem;
  padding-top: 80px;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--skolicka {
    font-size: 2.4rem;
  }
}
.glide__event-name--2 {
  font-size: 2.5rem;
}
.glide__event-name--4 {
  font-size: 2rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-name--4 {
    font-size: 2.5rem;
  }
}
.glide__event-date {
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 37rem) {
  .glide__event-date {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.glide__event-date--nemoc {
  font-size: 1.7rem;
}
.glide__event-date--dilnicky {
  padding-top: 90px;
}
@media screen and (min-width: 37rem) {
  .glide__event-date--dilnicky {
    padding-top: 0;
  }
}
.glide__event-date--2 {
  color: black;
  font-size: 1.7rem;
  padding-top: 1.5rem;
}
.glide__event-date--4 {
  font-size: 1.4rem;
}
@media screen and (min-width: 63rem) {
  .glide__event-date--4 {
    font-size: 2rem;
  }
}
.glide__arrow {
  color: black;
}
@media screen and (min-width: 80rem) {
  .glide__track {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
@media screen and (min-width: 63rem) {
  .glide {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.regular-event {
  max-width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 1.5rem;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  grid-template-areas: "monday-grid" "tuesday-grid" "wednesday-grid" "thursday-grid" "friday-grid";
}
.regular-event__card {
  background-color: #FFCC00;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-bottom: 1.5rem;
}
.regular-event__day {
  background-color: #8d695c;
  border-top-right-radius: 15px;
  color: white;
  padding-bottom: 1.5rem;
}
.regular-event__program p {
  text-align: center;
}
.regular-event__program p:nth-child(n) {
  padding: 0.5rem;
}
.regular-event__program p:nth-child(odd) {
  background-color: #E6B800;
}
.regular-event__card--monday {
  grid-area: monday-grid;
}
.regular-event__card--tuesday {
  grid-area: tuesday-grid;
}
.regular-event__card--wednesday {
  grid-area: wednesday-grid;
}
.regular-event__card--thursday {
  grid-area: thursday-grid;
}
.regular-event__card--friday {
  grid-area: friday-grid;
}
@media screen and (min-width: 37rem) {
  .regular-event {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    align-items: stretch;
    grid-template-areas: "monday-grid    monday-grid     tuesday-grid    tuesday-grid" "wednesday-grid wednesday-grid  thursday-grid   thursday-grid" ".              friday-grid        friday-grid  .";
  }
}
@media screen and (min-width: 63rem) {
  .regular-event {
    max-width: 70rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    align-items: stretch;
    grid-template-areas: "monday-grid    monday-grid     tuesday-grid    tuesday-grid wednesday-grid wednesday-grid  " ".              thursday-grid   thursday-grid   friday-grid  friday-grid    .           ";
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0%;
  transform: translateY(-50%);
  background: #E6B800;
  overflow: auto;
  z-index: 3;
}
.popup .content {
  width: 100%;
  max-width: 0 auto;
  display: none;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (min-width: 63rem) {
  .popup .content {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.popup__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: black;
  font-size: 40px;
  cursor: pointer;
  background-color: #E6B800;
  border: none;
}
.popup.active {
  -webkit-animation: popupAnimation 1500ms ease-in-out forwards;
          animation: popupAnimation 1500ms ease-in-out forwards;
}
.popup.active .content {
  display: block;
  transition: all 100ms ease-in-out 1300ms;
}
@-webkit-keyframes popupAnimation {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes popupAnimation {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.popup__event-name:first-of-type {
  padding-top: 4rem;
}
.popup__event-time {
  font-weight: 300;
  padding-top: 0.5rem;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
}

.recent-event {
  margin: 1.5rem auto 40vw auto;
  max-width: calc(100vw - 1rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  flex: 1 1 calc(50% - 1.5rem);
  gap: 1.5rem;
}
.recent-event--uvod {
  margin-bottom: 0;
}
.recent-event__card {
  width: 100%;
  padding: 1.5rem;
  background-color: #FFCC00;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.recent-event__description {
  text-align: left;
}
.recent-event__title {
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 0;
}
.recent-event__text {
  line-height: 2;
}
.recent-event--hyperlink {
  text-decoration: none;
  color: black;
}
.recent-event__image {
  width: 100%;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.recent-event__leaflet {
  align-self: center;
  margin-top: 1.5rem;
}
@media screen and (min-width: 63rem) {
  .recent-event__leaflet {
    margin-top: 0;
  }
}
@media screen and (min-width: 30rem) {
  .recent-event__card {
    width: calc(50% - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .recent-event {
    max-width: 70rem;
  }
  .recent-event__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}

.separator {
  width: 100%;
  height: 2rem;
  background-image: url(/images/stopy.svg);
  background-repeat: repeat-x;
  background-size: contain;
  margin-top: 2rem;
  transform: translateX(-2rem);
}

.aboutus {
  margin: 1.5rem auto 0 auto;
  row-gap: 1.5rem;
}
.aboutus__link {
  font-weight: 700;
}
.aboutus__link--external:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}
.aboutus__link:link {
  color: #205c6a;
}
.aboutus__link:visited {
  color: #212121;
}
.aboutus__link:hover {
  color: #95b2b8;
}
.aboutus__card {
  max-width: calc(100vw - 1rem);
  background-color: #FFCC00;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5rem;
  margin: 1.5rem auto 0 auto;
  text-align: left;
}
.aboutus__card--uvod {
  text-align: center;
}
.aboutus__card p:last-child {
  padding-bottom: 0;
}
.aboutus__button {
  margin-left: auto;
  margin-right: auto;
}
.aboutus__description {
  padding-bottom: 1.5rem;
  text-align: justify;
}
.aboutus__banner-givt {
  text-align: center;
}
.aboutus__banner-givt img {
  max-width: 100%;
  padding-top: 1.5rem;
}
.aboutus__ordered-list-item + .aboutus__ordered-list-item {
  padding-top: 0.5rem;
}
@media screen and (min-width: 63rem) {
  .aboutus {
    max-width: 70rem;
  }
}

.ourteam {
  max-width: calc(100vw - 1rem);
  margin: 80px auto 40vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 calc(50% - 1.5rem);
  row-gap: 90px;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.ourteam__person {
  width: 100%;
  background-color: #FFCC00;
  box-shadow: 1 1px 3px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.ourteam__name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}
.ourteam__foto {
  height: 100px;
  padding: 10px;
  position: absolute;
  left: calc(50% - 60px);
  top: -70px;
  margin: 0;
}
.ourteam__img {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 -5px 10px #707070;
  background-color: white;
}
.ourteam__img--realfoto {
  border: 0;
}
.ourteam__description {
  padding: 30px;
}
@media screen and (min-width: 37rem) {
  .ourteam__person {
    width: calc(50% - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .ourteam {
    max-width: 70rem;
  }
}

.pravidelny-program {
  max-width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1.5rem;
  margin: 1.5rem auto 40vw auto;
  text-align: center;
}
.pravidelny-program__card {
  background-color: #FFCC00;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.pravidelny-program__akce {
  background-color: #8d695c;
  border-top-right-radius: 15px;
  color: white;
  padding-bottom: 1.5rem;
}
.pravidelny-program__popis {
  padding: 1.5rem;
}
.pravidelny-program__casy {
  background-color: #E6B800;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  font-weight: 300;
  padding: 0.5rem;
  display: inline-block;
}
@media screen and (min-width: 63rem) {
  .pravidelny-program {
    max-width: 70rem;
  }
}

.fotogalerie {
  max-width: calc(100vw - 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  row-gap: 1.5rem;
  margin: 1.5rem auto 40vw auto;
  grid-template-areas: "hernicka" "akce" "program";
}
.fotogalerie__grid {
  max-width: calc(100vw - 1rem);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(100px, 200px);
  gap: 1rem;
  grid-auto-flow: dense;
}
.fotogalerie__grid:last-child {
  margin-bottom: 50vw;
}
.fotogalerie__grid img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.fotogalerie__grid--wide {
  grid-column: span 2;
}
.fotogalerie__grid--tall {
  grid-row: span 2;
}
.fotogalerie__grid--big {
  grid-row: span 2;
  grid-column: span 2;
}
.fotogalerie__skupina {
  padding: 1.5rem;
}
.fotogalerie__video {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 1rem);
  padding-top: 1.5rem;
}
.fotogalerie__video video {
  height: 100%;
  border-radius: 0.5rem;
}
.fotogalerie__video--nadpis {
  padding-top: 1.5rem;
}
@media screen and (min-width: 37rem) {
  .fotogalerie__video {
    max-width: 37rem;
  }
}
.fotogalerie__hernicka {
  background-image: url(/images/fotogalerie/hernicka/hlavni-hernicka.jpg);
  background-size: cover;
  grid-area: hernicka;
}
.fotogalerie__akce {
  background-image: url(/images/fotogalerie/akce/hlavni-akce.jpg);
  background-size: cover;
  text-align: center;
  grid-area: akce;
}
.fotogalerie__program {
  background-image: url(/images/fotogalerie/pravidelny-program/hlavni-pravidelny-program.jpg);
  background-size: cover;
  text-align: center;
  grid-area: program;
}
.fotogalerie__link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1.5rem;
}
@media screen and (min-width: 37rem) {
  .fotogalerie {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    grid-template-areas: "hernicka hernicka akce akce" ".        program   program   .";
  }
}
@media screen and (min-width: 63rem) {
  .fotogalerie {
    max-width: 70rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    grid-template-areas: "hernicka akce program";
  }
  .fotogalerie__link:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  .fotogalerie__grid {
    max-width: 70rem;
  }
  .fotogalerie__grid img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }
}

.sponsors {
  max-width: calc(100vw - 1rem);
  margin: 1.5rem auto 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.sponsors__img {
  max-width: 70px;
  height: 100%;
  vertical-align: middle;
}
@media screen and (min-width: 37rem) {
  .sponsors__img {
    max-width: 150px;
  }
}
.sponsors__hyperlink {
  width: 100%;
  height: 100%;
}
.sponsors__item {
  padding: 1.5rem;
  flex: 0 0 calc(16% - 20px);
}
.sponsors__item ~ .sponsors__item {
  margin: auto;
}
@media screen and (min-width: 63rem) {
  .sponsors {
    max-width: 70rem;
  }
}

.contact {
  max-width: calc(100vw - 1rem);
  background-color: #FFCC00;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  margin: 1.5rem auto 40vw auto;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 1.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.contact__title {
  display: block;
  font-style: oblique;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.contact__map {
  grid-row: 3;
  grid-column: 1/-1;
  width: 100%;
}
.contact__map iframe {
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.contact__link:link {
  color: #205c6a;
}
.contact__link:visited {
  color: black;
}
.contact__link:hover {
  color: #95b2b8;
}
.contact__link:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}
@media screen and (min-width: 37rem) {
  .contact {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto);
  }
  .contact__map {
    grid-row: 1/-1;
    grid-column: 2;
  }
}
@media screen and (min-width: 63rem) {
  .contact {
    max-width: 70rem;
  }
}

.footer__copyright {
  display: block;
  text-decoration: none;
  padding: 1rem;
  background-color: #707070;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  transform: translateY(3rem);
}/*# sourceMappingURL=style.css.map */