---
layout: /layouts/template-main.njk
title: MC Žirafa
metaDescription: Mateřské centrum Žirafa ve Dvoře Králové nabízí možnost herničky pro menší děti a pravidelného programu cvíčení s dětmi, školička nebo angličtina. Pořádáme také výlety a různé přednášky.
---
{% include 'partials/banner-prihlaseni.njk' %}
{% include 'partials/regular-events.njk' %}
{% include 'partials/recent-events.njk' %}

{% include 'partials/separator.njk' %}
{% include 'partials/onas.njk' %}

{% include 'partials/sponsors.njk' %}
