html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0;
    display:flex;
    background-color: orange;
}

header {
    display:flex;
    background-color: violet;
}

.hornikontakt {
    display: flex;
    flex-direction: row;
}