<div class="banner-prihlaseni" aria-label="Přihlášení na žirafčin program">
    
<p class="banner-prihlaseni__text">Přihlášení na Žirafčin program <br>
    {% include 'partials/btn-apply.njk' %}
</p>
</div>