<div class="glide" tabindex="-1">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides" tabindex="-1">

        <!-- UZAVRENI -->
        <!-- <li class="glide__slide glide__picture-uzavreni"> -->
          <!-- <h1 class="glide__event-name glide__event-name--uzavreni">Z důvodu pololetních prázdnin</h1> -->
          <!-- <p class="glide__event-date glide__event-date--uzavreni"></p> -->
        <!-- </li> -->

        <!-- <li class="glide__slide glide__picture-2"> -->
          <!-- <h1 class="glide__event-name glide__event-name--2">Páteční dílničky 10.2.</h1> -->
          <!-- <p class="glide__event-date glide__event-date--2">Výroba škrabošky</p> -->
        <!-- </li> -->

        <!-- NEMOC -->
         <!-- <li class="glide__slide glide__picture-nemoc"> -->
          <!-- <h1 class="glide__event-name glide__event-name--nemoc">Cvičení s miminky v úterý 31.1. je z důvodu nemoci ZRUŠENO!</h1> -->
          <!-- <p class="glide__event-date glide__event-date--nemoc"></p> -->
        <!-- </li> -->

        <!-- TVORIVE DILNICKY -->
         <!-- <li tabindex="-1" class="glide__slide glide__picture-dilnicky"> -->
           <!-- <h1 class="glide__event-name glide__event-name--dilnicky">Tvořivé dílničky v pátek 27.1.</h1>  -->
           <!-- <p class="glide__event-date glide__event-date--dilnicky">Výroba krmítka</p> -->
         <!-- </li> -->

        <!-- SKOLICKA -->
        <li tabindex="-1" class="glide__slide glide__picture-skolicka">
          <h1 class="glide__event-name glide__event-name--skolicka">Žirafky ve školce</h1> 
          <p class="glide__event-date glide__event-date--skolicka">Každou středu 9-11</p>
        </li>

        <!-- ZVIRATKA -->
        <li tabindex="-1" class="glide__slide glide__picture-zviratka">
          <h1 class="glide__event-name glide__event-name--zviratka">Setkání se zvířátky</h1> 
          <p class="glide__event-date glide__event-date--zviratka">Středa 15.2.</p>
        </li>

        <!-- nova anglictina -->
        <li tabindex="-1" class="glide__slide glide__picture-anglictina">
          <h1 class="glide__event-name glide__event-name--anglictina">Angličtinka nově každé úterý od 15:00</h1> 
          <!-- <p class="glide__event-date glide__event-date--2">Každou středu 15-15:45</p> -->
        </li>

        <!-- narozeniny -->
        <li tabindex="-1" class="glide__slide glide__picture-narozeniny">
          <h1 class="glide__event-name glide__event-name--narozeniny">Prostory pro oslavu NAROZENIN</h1> 
          <p class="glide__event-date glide__event-date--narozeniny">Více info a pro rezervaci nás kontaktujte</p>
        </li>

         <!-- CVICENI S MIMINKY -->
        <li tabindex="-1" class="glide__slide glide__picture-cviceni">
           <h1 class="glide__event-name glide__event-name--cviceni">Cvičení s miminky</h1> 
           <p class="glide__event-date glide__event-date--cviceni">Každé úterý od 9-10</p>
        </li>

        <!-- RYTMICEK -->
        <li tabindex="-1" class="glide__slide glide__picture-rytmicek">
          <h1 class="glide__event-name glide__event-name--rytmicek">Rytmíček</h1> 
          <p class="glide__event-date glide__event-date--rytmicek">Každou středu 15-15:45</p>
        </li>

         <!-- AKCE -->
        <!-- <li class="glide__slide glide__picture-3">
          <h1 class="glide__event-name glide__event-name--3">Kurz s městskou policií na téma: Osobní bezpečí</h1>
          <p class="glide__event-date glide__event-date--3">Pondělí 23.1. od 9:30</p>
        </li>

        <li class="glide__slide glide__picture-2">
          <h1 class="glide__event-name glide__event-name--2">Přednáška s paní Bartoňovou na téma: Kdy je dítě zralé na školku, školu?</h1>
          <p class="glide__event-date glide__event-date--2">Čtvrtek 19.1. 10:00-11:30</p>
        </li> -->

      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="Z" aria-label="Předchozí slide">&#10094; &#10094;</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir="T" aria-label="Další slide">&#10095; &#10095;</button>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0" aria-hidden="true" tabindex="-1"></button>
        <button class="glide__bullet" data-glide-dir="=1" aria-hidden="true" tabindex="-1"></button> 
        <button class="glide__bullet" data-glide-dir="=2" aria-hidden="true" tabindex="-1"></button>
        <button class="glide__bullet" data-glide-dir="=3" aria-hidden="true" tabindex="-1"></button>
        <button class="glide__bullet" data-glide-dir="=4" aria-hidden="true" tabindex="-1"></button>
        <button class="glide__bullet" data-glide-dir="=5" aria-hidden="true" tabindex="-1"></button>
    </div>
</div>