<div class="carousel carousel--picture-1">
    <!-- <div class="carousel__event-text"> -->
        <div class="carousel__event-name"><h1>Vánoční rodinné focení</h1></div>
        <div class="carousel__event-date">
            1.12.2022 od 9:00
        <!-- </div> -->
    </div>