<footer class="footer">
    <h2>Kontakty</h2>
    <div class="footer__contact">
        
        <!-- <div class="footer__info"> -->
            <div class="footer__adress">            
                <span class="footer__title">Adresa:</span>
                Náměstí T.G.Masaryka 59 <br>
                Dvůr Králové nad Labem<br>
            </div>
            <div class="footer__email"> 
                <span class="footer__title">E-mail:</span>
                info@mc-zirafa.cz <br>
            </div>   
            <div class="footer__phone">
                <span class="footer__title">Telefonní číslo:</span>
                +420 773 292 033
            </div> 
            <div class="footer__facebook">
                <span class="footer__title">Facebook:</span>
                mc-zirafa
            </div>
        <!-- </div> -->
        <div class="footer__map"><iframe src="https://www.google.com/maps/place/Mate%C5%99sk%C3%A9+centrum+%C5%BDirafa/@50.4326394,15.8091386,15.44z/data=!4m5!3m4!1s0x470e8f628b7c61cd:0xfcb37ea13740dbe7!8m2!3d50.4321335!4d15.8137643" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>
    <div class="footer__copyright">&copy;2022, Jana Bartecká</div>
</footer>