<header class="header">
    <img class="snowflake snowflake--1" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--2" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--3" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--4" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--5" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--6" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--7" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--8" src="/images/snowflake.svg" alt="">
    <img class="snowflake snowflake--9" src="/images/snowflake.svg" alt="">
    <div class="header__flex-logo-menu">
        <div>{% include 'partials/logo.njk' %}</div>
        <div>{% include 'partials/menu.njk' %}</div>
    </div>
    {% include 'partials/carousel.njk' %}
</header>