<p>Kroužek angličtiny je určen pro děti cca od 3 do 6 let. 
    Seznámení s cizím jazykem probíhá pod vedením Mgr. Barbory Janečkové 
    hravou formou písniček, básniček a pohybových aktivit. 
    Hlavním cílem kroužku je přirozené osvojování angličtiny za pomoci hry. 
    Cena: 50 Kč. Kapacita: 7 dětí. Přihlášení přes rezervační systém (odkaz na FB, webu).
</p>