<nav class="menu" role="navigation"> 
    
    <a href="#" class="menu__logo" aria-hidden="true">
        <svg width="70" height="100" class="menu__logo--svg" aria-hidden="true" viewBox="0 0 160 160" version="1.1" id="svg2041" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs id="defs2038">
              <linearGradient id="linearGradient4427" y2="1060.219" gradientUnits="userSpaceOnUse" y1="-3.732" x2="748.391" x1="749.372">
                <stop id="stop4423" stop-color="#00a8f0" offset=".239"/>
                <stop id="stop4425" stop-color="#00a8f0" stop-opacity="0" offset=".89"/>
              </linearGradient>
              <linearGradient xlink:href="#linearGradient5608" id="linearGradient5610" x1="352.06" y1="352.933" x2="353.346" y2="489.748" gradientUnits="userSpaceOnUse" spreadMethod="pad" gradientTransform="translate(63.433 -.64)"/>
              <linearGradient id="linearGradient5608">
                <stop style="stop-color:#fc0;stop-opacity:1" offset="0" id="stop5604"/>
                <stop style="stop-color:#fc0;stop-opacity:0" offset=".865" id="stop5606"/>
              </linearGradient>
              <linearGradient xlink:href="#linearGradient5643" id="linearGradient5645" x1="352.06" y1="352.933" x2="353.346" y2="489.748" gradientUnits="userSpaceOnUse" spreadMethod="pad" gradientTransform="translate(63.433 -.64)"/>
              <linearGradient id="linearGradient5643">
                <stop style="stop-color:#000;stop-opacity:1" offset="0" id="stop5639"/>
                <stop style="stop-color:#000;stop-opacity:0" offset=".535" id="stop5641"/>
              </linearGradient>
              <linearGradient xlink:href="#linearGradient5663" id="linearGradient5665" x1="186.086" y1="178.398" x2="185.5" y2="308.18" gradientUnits="userSpaceOnUse" gradientTransform="translate(280.163 177.42)"/>
              <linearGradient id="linearGradient5663">
                <stop style="stop-color:#000;stop-opacity:1" offset="0" id="stop5659"/>
                <stop style="stop-color:#000;stop-opacity:0" offset=".731" id="stop5661"/>
              </linearGradient>
              <linearGradient xlink:href="#linearGradient5655" id="linearGradient5657" x1="76.593" y1="332.64" x2="76.054" y2="365.46" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.7255 0 0 1.3636 342.553 -36.087)"/>
              <linearGradient id="linearGradient5655">
                <stop style="stop-color:#784421;stop-opacity:1" offset="0" id="stop5651"/>
                <stop style="stop-color:#784421;stop-opacity:0" offset=".724" id="stop5653"/>
              </linearGradient>
              <filter id="filter4481" x="-.039" y="-.058" width="1.078" height="1.116">
                <feGaussianBlur id="feGaussianBlur4483" stdDeviation="4.134"/>
              </filter>
            </defs>
            <g id="layer1" transform="translate(-15 -100)">
              <g id="layer1-8" transform="matrix(.4947 0 0 .5707 -108.054 3.334)" style="display:inline;stroke-width:1.00258;stroke-dasharray:none">
                <path id="path2399" style="fill:url(#linearGradient5610);fill-opacity:1;fill-rule:evenodd;stroke:url(#linearGradient5645);stroke-width:.941038;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none" d="M362.173 486.7c24.5-37.9 20-128.73 20-128.73l60-3.27s-1.5 91.49 23.5 130.04"/>
                <path id="path3244" style="fill:#784421;stroke-width:.746298" d="M437.734 393.796a10.52 14.849 0 1 1-21.041 0 10.52 14.849 0 1 1 21.041 0z"/>
                <path id="path3214" style="fill:url(#linearGradient5665);fill-opacity:1;fill-rule:evenodd" d="m442.163 354.7-17.16.94-42.84 2.34s.24 4.86.31 12.56c13.16 8.26 26.42 13.07 35.72 13.07 3.33 0 7.11-.57 11.16-1.66 6.18 33.34 17.67 80.34 36.03 102.5l-1 .35 1.28-.04c-17.21-26.53-21.83-78.15-23.06-107.75-.14-3.35-.25-6.43-.32-9.15-.05-2.18-.07-4.1-.09-5.78-.02-1.36-.03-2.38-.03-3.38 0-1.55-.01-1.75 0-2.4z"/>
                <path id="path3155" style="fill:#fc0;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none" d="M414.703 207.93c-22.79 0-41.28 6.96-54.88 18.59-.57-.43-1.34-.81-2.34-1.25-55.51-10.61-74.61 25.09-75.31 30.75-.71 5.66 38.51 14.48 59.37-6.38.27-.27.46-.45.72-.71-6.17 12.02-9.41 25.97-9.41 40.84 0 45.17 56.13 81.84 81.85 81.84 26.71 0 81.84-36.67 81.84-81.84 0-15.04-3.46-29.14-9.94-41.25.41.41.71.7 1.13 1.12 20.86 20.86 60.08 12.04 59.37 6.38-.7-5.66-19.77-41.36-75.28-30.75-1.17.52-2.08.95-2.65 1.47-13.74-11.75-32.21-18.81-54.47-18.81z"/>
                <g id="g2290">
                  <path id="path3157" style="fill:#fff;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none" d="M411.073 277.77c.01 12.52-10.14 22.67-22.66 22.67s-22.67-10.15-22.66-22.67c-.01-12.52 10.14-22.67 22.66-22.67s22.67 10.15 22.66 22.67z"/>
                  <path id="path3159" style="fill:#fff;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none" d="M463.813 277.77c0 12.52-10.15 22.67-22.67 22.67-12.52 0-22.66-10.15-22.66-22.67 0-12.52 10.14-22.67 22.66-22.67s22.67 10.15 22.67 22.67z"/>
                  <path id="path3161" style="display:inline;fill:#000;stroke-width:1.00258;stroke-dasharray:none" d="M443.663 281.77c0 4.18-3.38 7.56-7.55 7.56-4.18 0-7.56-3.38-7.56-7.56 0-4.17 3.38-7.55 7.56-7.55a7.55 7.55 0 0 1 7.55 7.55z"/>
                  <path id="path3163" style="display:inline;fill:#000;stroke-width:1.00258;stroke-dasharray:none" d="M401.633 281.77c0 4.18-3.38 7.56-7.55 7.56-4.18 0-7.56-3.38-7.56-7.56 0-4.17 3.38-7.55 7.56-7.55a7.55 7.55 0 0 1 7.55 7.55z"/>
                </g>
                <path id="path3231" style="fill:#000;fill-opacity:.31373" d="M489.123 250.85c1.75 7.63 2.62 15.72 2.62 24.13 0 45.17-55.12 81.84-81.84 81.84-20.71 0-61.1-23.76-76.06-56.59 7.61 40.24 57.17 71.37 80.87 71.37 26.72 0 81.84-36.67 81.84-81.84 0-14.08-2.41-27.34-7.43-38.91z"/>
                <path id="path2398" style="fill:#000" d="M431.303 342.4c-2.29 3.98-6.5 5.84-9.4 4.17-2.89-1.67-3.38-6.25-1.09-10.22 2.29-3.97 6.5-5.84 9.4-4.17 2.89 1.68 3.38 6.25 1.09 10.22z"/>
                <path id="path2412" style="fill:#000" d="M398.563 342.4c2.29 3.98 6.5 5.84 9.4 4.17 2.89-1.67 3.38-6.25 1.09-10.22-2.29-3.97-6.5-5.84-9.4-4.17-2.89 1.68-3.38 6.25-1.09 10.22z"/>
                <path id="path3224" style="fill:#fc0;fill-rule:evenodd;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-dasharray:none" d="M380.953 223.84c5.65-10.25-6.01-22.62-6.01-22.62l17.32-4.25s-2.47 15.56 6.72 21.22"/>
                <path id="path3186" style="fill:#784421;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none" d="M397.551 194.8a15.38 15.38 0 1 1-30.759 0 15.38 15.38 0 1 1 30.76 0z"/>
                <path id="path3190" style="fill:#d4aa00;fill-rule:evenodd;stroke:#000;stroke-width:.941038;stroke-linejoin:round;stroke-dasharray:none" d="M482.023 231.86c35.78-4.57 52.52 16.97 53.83 20.23 1.32 3.26-35.12 10.11-53.83-20.23z"/>
                <path id="path3228" style="fill:#fc0;fill-rule:evenodd;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-dasharray:none" d="M448.123 223.84c-5.65-10.25 6.01-22.62 6.01-22.62l-17.32-4.25s2.47 15.56-6.72 21.22"/>
                <path id="path3222" style="fill:#784421;stroke:#000;stroke-width:.941038;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none" d="M461.551 194.8a15.38 15.38 0 1 1-30.759 0 15.38 15.38 0 1 1 30.76 0z"/>
                <path id="path3240" style="fill:url(#linearGradient5657);fill-opacity:1;stroke-width:.994625" d="M410.27 439.877a13.081 21.212 0 1 1-26.164 0 13.081 21.212 0 1 1 26.163 0z"/>
                <path id="path3246" style="fill:#d4aa00;fill-rule:evenodd;stroke:#000;stroke-width:.941038;stroke-linejoin:round;stroke-dasharray:none" d="M346.893 231.86c-35.78-4.57-52.52 16.97-53.84 20.23-1.31 3.26 35.13 10.11 53.84-20.23z"/>
              </g>
            </g>

          </svg>
    </a>
    <a class="menu__icon" href="https://www.facebook.com/mc.zirafa.2016">
      <img src="/images/fb.svg" alt="logo">
  </a>

  <a class="menu__icon" href="tel:724562827">
      <img src="/images/phone.svg" alt="logo">
  </a>

  <a class="menu__icon" href="mailto:info@mc-zirafa.cz">
      <img src="/images/mail.svg" alt="logo">
  </a>
    
    <button class="menu__hamburger" aria-expanded="false" aria-label="menu">
        <span class="menu__bar"></span>
        <span class="menu__bar"></span>
        <span class="menu__bar"></span>
    </button>

    <ul class="menu__list">
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === ''}} " aria-hidden="true"><a href="/" class="menu__link">Úvod</a></li>
        <li class="menu__item {{ 'menu__item--active' if page.filePathStem === '/pravidelny-program'}} " aria-hidden="true"><a href="/pravidelny-program" class="menu__link">Pravidelný program</a></li>
        <li class="menu__item {{ 'menu__item--active' if page.filePathStem === '/akce'}} " aria-hidden="true"><a href="/akce" class="menu__link">Akce</a></li>
        <li class="menu__item 
            {% if page.fileSlug === 'fotogalerie' or page.filePathStem === '/fotogalerie/akce' or  page.filePathStem === '/fotogalerie/nase-hernicka' or  page.filePathStem === '/fotogalerie/pravidelny-program' %}
                menu__item--active
            {% endif %}">
        <a href="/fotogalerie" class="menu__link">Fotogalerie</a></li>
        <li class="menu__item  {{ 'menu__item--active' if page.filePathStem === '/onas'}}" aria-hidden="true"><a href="/onas" class="menu__link">O nás</a></li>
        <li class="menu__item  {{ 'menu__item--active' if page.filePathStem === '/kontakt'}}" aria-hidden="true"><a href="/kontakt" class="menu__link">Kontakt</a></li>
    </ul>
</nav> 