    <nav class="menu">   
        <ul class="menu__list">
            <li class="menu__item"> <a href="" class="menu__link">Pravidelný program</a></li>
            <li class="menu__item"><a href="" class="menu__link">Akce</a></li>
            <li class="menu__item"><a href="" class="menu__link">Fotogalerie</a></li>
            <li class="menu__item"><a href="" class="menu__link">O nás</a></li>
            <li class="menu__item"><a href="" class="menu__link">Kontakty</a></li>
        </ul>
    </nav> 