<!-- //////////////////////////////pondeli//////////////////////////////// -->
<div class="dialog" id="dialog--1" aria-labelledby="dialog__openBtn--1" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--1" aria-label="Zavři modální okno" type="button">&times;</button>
        <h3 class="dialog__event-name">Cvičení maminek s miminky</h3>
        <p  class="dialog__event-time">Pondělí 9-10</p>
        <p class="dialog__event-text">Společné cvičení s maminkou přirozeně prohlubuje vazbu mezi rodičem a dítětem. Také miminku přináší nové podněty a stimuly, které příznivě působí na jeho psychomotorický vývoj.</p>
            <p>Cena: 50 Kč.</p>
            {% include 'partials/odhlaseni.njk' %}
            {% include 'partials/btn-apply.njk' %}
        <h3 class="dialog__event-name">Volná Herna</h3>
        <p class="dialog__event-time">Pondělí 10-13, Úterý 16-18, Čtvrtek 9-12 a 16-18, Pátek 9-12</p>
        <p class="dialog__event-text">Možnost využítí prostoru naší herničky. Součástí je i posezení pro děti, kde si děti malují nebo svačí. U nás si také můžete dát kávu nebo čaj za symbolickou cenu. K dispozici je přebalovací pult, mikrovlnná trouba, varná konvice nebo lednička.</p>
    </div>
</div>

<!-- //////////////////////////////utery//////////////////////////////// -->
<!-- The Modal -->
<div class="dialog" id="dialog--2" aria-labelledby="dialog__openBtn--2" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--2" aria-label="Zavři modální okno" type="button">&times;</button>
        <h3 class="dialog__event-name">Klub Žirafky Ve Školce</h3>
        <p  class="dialog__event-time">Středa 8-12</p>
        <p class="dialog__event-text">Hlídání dětí, které funguje jako školka nanečisto, má za cíl sloužit rodičům pro vyřízení nezbytných záležitostí. Zábavný program, hry, písničky, říkanky, výtvarné, tvořivé 
            a pohybové činnosti pod vedením dvou laskavých učitelek z mateřské školy.</p>
            <ul>
                <li>Dítě můžete přihlásit na 2 hodiny nebo 4 hodiny.</li>
                <li>Kolem cca 10:00 děti svačí. Doporučujeme krabičku se svačinou i pití označit jménem dítěte.</li>
                <li>V případě, že přijdete, ale vaše dítě nebude schopné ve školičce vydržet samo, můžete s ním být i vy nebo odejít a neplatíte nic.</li>
            </ul>
            <p>Cena: 150Kč/2hodiny nebo 250Kč/4hodiny. Kapacita: 10 dětí.</p>
            {% include 'partials/odhlaseni.njk' %}
            {% include 'partials/btn-apply.njk' %}
        <h3 class="dialog__event-name">Hrátky s Angličtinou</h3>
        <p  class="dialog__event-time">Úterý 15-15:45</p>
        <p class="dialog__event-text">Kroužek angličtiny je určen pro děti cca od 3 do 6 let. Seznámení s cizím jazykem probíhá pod vedením Mgr. Barbory Janečkové hravou formou písniček, básniček 
            a pohybových aktivit. Hlavním cílem kroužku je přirozené osvojování angličtiny za pomoci hry.</p>
            <p>Cena: 50 Kč. Kapacita: 7 dětí</p>
            {% include 'partials/odhlaseni.njk' %}
            {% include 'partials/btn-apply.njk' %}
        <h3 class="dialog__event-name">Volná Herna</h3>
        <p  class="dialog__event-time">Pondělí 9-12, Úterý 16-18, Čtvrtek 9-12 a 16-18, Pátek 9-12</p>
        <p class="dialog__event-text">Možnost využítí prostoru naší herničky. Součástí je i posezení pro děti, kde si děti malují nebo svačí. U nás si také můžete dát kávu nebo čaj za symbolickou cenu. K dispozici je přebalovací pult, mikrovlnná trouba, varná konvice nebo lednička.</p>
    </div>
</div>

<!-- //////////////////////////////streda//////////////////////////////// -->

<!-- The Modal -->
<div class="dialog" id="dialog--3" aria-labelledby="dialog__openBtn--3" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--3" aria-label="Zavři modální okno" type="button">&times;</button>
        <h3 class="dialog__event-name">Klub Žirafky Ve Školce</h3>
        <p  class="dialog__event-time">Středa 8-12</p>
        <p class="dialog__event-text">Hlídání dětí, které funguje jako školka nanečisto, má za cíl sloužit rodičům pro vyřízení nezbytných záležitostí. Zábavný program, hry, písničky, říkanky, výtvarné, tvořivé 
            a pohybové činnosti pod vedením dvou laskavých učitelek z mateřské školy.</p>
            <ul>
                <li>Dítě můžete přihlásit na 2 hodiny nebo 4 hodiny.</li>
                <li>Kolem cca 10:00 děti svačí. Doporučujeme krabičku se svačinou i pití označit jménem dítěte.</li>
                <li>V případě, že přijdete, ale vaše dítě nebude schopné ve školičce vydržet samo, můžete s ním být i vy nebo odejít a neplatíte nic.</li>
            </ul>
            <p>Cena: 150Kč/2hodiny nebo 250Kč/4hodiny. Kapacita: 10 dětí.</p>
            {% include 'partials/odhlaseni.njk' %}
            {% include 'partials/btn-apply.njk' %}
    
        <h3 class="dialog__event-name">Setkávání Se Zvířátky (v areálu Nový Svět)</h3>
        <p  class="dialog__event-time">Středa od 10:00</p>
        <p class="dialog__event-text">Setkávání se zvířátky v areálu Nový svět je určeno pro rodiče s dětmi. Během návštěvy se děti seznámí s kočkami, psem, poníky a kozami. Děti se mohou zapojit do péče o zvířata, pomoci při krmení, hřebelcování a na poníkovi se mohou svézt.</p>
        <p>Setkání probíhá na adrese: <a class="openNewTab" href="https://mapy.cz/zakladni?x=15.8204392&y=50.4257648&z=17&source=addr&id=11719174">17.listopadu 3129, 544 01 Dvůr Králové nad Labem</a></p>
        <p>Kapacita: 10 dětí + rodiče. Cena: 70 Kč.</p>
        {% include 'partials/btn-apply.njk' %}
    
        <h3 class="dialog__event-name">Rytmíček</h3>
        <p  class="dialog__event-time">Středa 15-16</p>
        <p class="dialog__event-text">Pohybový kroužek pro děti (cca 2 – 4 roky) s doprovodem. Cvičení formou hry a zábavy, kladný vztah k pohybu, nové zážitky a kamarádi pod vedením zkušené lektorky.</p>
            <p>Kapacita: 7 dětí + rodiče. Cena: 50 Kč.</p>
            {% include 'partials/odhlaseni.njk' %}
            {% include 'partials/btn-apply.njk' %}
    </div>
</div>

<!-- ///////////////////////////////ctvrtek/////////////////////////////// -->
<!-- The Modal -->
<div class="dialog" id="dialog--4" aria-labelledby="dialog__openBtn--4" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--4" aria-label="Zavři modální okno" type="button">&times;</button>
        <h3 class="dialog__event-name">Hrátky s Angličtinou</h3>
        <p  class="dialog__event-time">Pondělí 15-15:45</p>
        <p class="dialog__event-text">Kroužek angličtiny je určen pro děti cca od 3 do 6 let. Seznámení s cizím jazykem probíhá pod vedením Mgr. Barbory Janečkové hravou formou písniček, básniček 
            a pohybových aktivit. Hlavním cílem kroužku je přirozené osvojování angličtiny za pomoci hry.</p>
            <p>Cena: 50 Kč. Kapacita: 7 dětí</p>
            {% include 'partials/odhlaseni.njk' %}
            {% include 'partials/btn-apply.njk' %}
        <h3 class="dialog__event-name">Volná Herna</h3>
        <p  class="dialog__event-time">Pondělí 10-13, Úterý 16-18, Čtvrtek 9-12 a 16-18, Pátek 9-12</p>
        <p class="dialog__event-text">Možnost využítí prostoru naší herničky. Součástí je i posezení pro děti, kde si děti malují nebo svačí. U nás si také můžete dát kávu nebo čaj za symbolickou cenu. K dispozici je přebalovací pult, mikrovlnná trouba, varná konvice nebo lednička.</p>
    </div>
</div>

<!-- ///////////////////////////////patek/////////////////////////////// -->
<!-- The Modal -->
<div class="dialog" id="dialog--5" aria-labelledby="dialog__openBtn--5" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--5" aria-label="Zavři modální okno" type="button">&times;</button>
        <h3 class="dialog__event-name">Volná Herna</h3>
        <p  class="dialog__event-time">Pondělí 10-13, Úterý 16-18, Čtvrtek 9-12 a 16-18, Pátek 9-12</p>
        <p class="dialog__event-text">Možnost využítí prostoru naší herničky. Součástí je i posezení pro děti, kde si děti malují nebo svačí. U nás si také můžete dát kávu nebo čaj za symbolickou cenu. K dispozici je přebalovací pult, mikrovlnná trouba, varná konvice nebo lednička.</p>
    </div>
</div>
