 Pokud se vaše dítě nemůže z jakéhokoli důvodu zúčastnit kurzu, lekce nebo hlídání, prosíme o jeho odhlášení. Když odlášené nebude, přičteme vám k další lekci, kurzu nebo hlídání 50 Kč. Pro odhlášení můžete využít FB, e-mail, telefony, které jsou uvedeny na webu, případně zavolat/napsat přímo lektorce/učitelce.