<h2>O nás</h2>
<div class="aboutus">
    <div class="aboutus__card aboutus__card--uvod">
        <div class="aboutus__description">
            <p>Mateřské centrum Žirafa je zapsaný spolek vzniklý z iniciativy rodičů pečujících o děti na mateřské a rodičovské dovolené, 
            který zahájil svou činnost roku 2004. Součástí centra je vnitřní herna a venkovní zahrádka s herními prvky. Každý týden jsou v programu na výběr 
            <a class="aboutus__link" href="/pravidelny-program/#volna-herna">volné herny</a> , aktivizační skupiny Hrošíci, Opičky, Lvíčci a Safari, kde se schází rodiče a 
            děti stejného či podobného věku a sdílejí své zkušenosti a diskutují na různá témata. Dále během týdne pravidelně probíhají tvořivé dílničky, 
            <a class="aboutus__link" href="/pravidelny-program/#hratky-anglictina">jazykový kroužek</a>, 
            <a class="aboutus__link" href="/pravidelny-program/#cviceni-s-miminky">pohybové aktivity pro batolata a rodiče</a>, <a class="aboutus__link" href="/pravidelny-program/#rytmicek">cvičení pro předškoláčky</a>, <a class="aboutus__link" href="/pravidelny-program/#setkavani-zviratka">setkávání se zvířátky</a>, 
            <a class="aboutus__link" href="/pravidelny-program/#skolka">hlídání dětí</a> a nácvik samostatnosti a dovedností potřebných ve školce, formou dětského klubu.</p>
            <p>Několikrát do roka pak pořádáme různé výlety, přednášky, semináře, kurzy, bazary dětského sezónního oblečení, burzy, karnevaly, 
                besídky a akce např. k příležitosti dětského dne, akce na dopravním hřišti, atd.   
        </div>
        <button class="button aboutus__button"><a href="/onas" class="button__link">Více info o nás se dozvíte ZDE</a></button>
        <h3>Možnost podpory MC Žirafa</h3>
        <button class="button"><a href="/onas/#aboutus__givt" class="button__link">Více info o možnosti podpory pomocí portálu GIVT ZDE</a></button>
        <div class="aboutus__banner-givt"><a href="https://givt.cz/"><img src="/images/banner-givt.png" alt="Banner GIVT"></div></a>
    </div>
</div>