<h2>O nás</h2>
<div class="aboutus">
    <a href="/onas" class="aboutus--hyperlink">
        <div class="aboutus__card aboutus__card--uvod">
            <div class="aboutus__description">
                Mateřské centrum Žirafa je zapsaný spolek vzniklý z iniciativy rodičů pečujících o děti na mateřské a rodičovské dovolené, který zahájil svou činnost 2004. Součástí centra je vnitřní herna a venkovní zahrádka s herními prvky.    
            </div>
            <button class="button"><a href="/onas" class="button__link">Více info o nás se dozvíte ZDE</a></button>
        </div>
    </a>
</div>