<h2>O nás</h2>
<div class="aboutus">
    <a href="/" class="aboutus--hyperlink">
        <div class="aboutus__card">
            <div class="aboutus__description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo dolores dolorum dolor! Iste dolor officiis animi consectetur, sequi cum autem iure tempora placeat eaque minima molestiae perferendis magni temporibus at.
                Tenetur, voluptates pariatur consectetur quaerat mollitia ipsum quos, blanditiis natus quidem odio rem vero veniam, placeat dolorum. Omnis magni officiis soluta aliquam possimus ullam. Unde corporis adipisci quis ad veritatis.
                Dignissimos veniam doloribus explicabo! Id ipsam ipsa praesentium quisquam iure. Ipsum consectetur, debitis ad quam neque illum quaerat vel eligendi hic id, nobis fuga. Magni perferendis laborum harum dolorem ipsam.
            </div>
            </div>
        </div>
    </a>
</div>