<h2>Aktuální akce</h2>
<div class="recent-event">
        <div class="recent-event__card">
            <div class="recent-event__description">
                <h3 class="recent-event__title">Mikulášská besídka</h3>
                <p class="recent-event__text">
                    <em>Kdy:</em> 5.12.2022 od 16:00 <br>
                    <em>Kde:</em> v TS Attitude Slovany <br>
                    <em>Vstupné:</em> 100Kč <br>
                    Nutná registrace <br>
                </p>
                {% include 'partials/btn-apply.njk' %}
            </div>
            <div class="recent-event__leaflet"><img src="/images/mikulasska-min.png" class="recent-event__image" alt="">
            </div>
        </div>
</div>