
<section>

    <div class="zruseni-programu">
        Od 13.3. - 20.3. je veškerý pravidelný program v Žirafce zrušen z důvodu konání bazárku.
    </div>

    <h2>Pravidelný týdenní program</h2>
    
    <div class="regular-event">

        <div class="regular-event__card regular-event__card--monday">
            <div class="regular-event__day"><h3>Pondělí</h3></div>
            <div class="regular-event__program">
                <p>9:00 - 10:00</p>
                <p>Cvičení maminek s miminky</p>
                <p>10:00 - 13:00</p>
                <p>Volná Herna</p>
                <p>15:00 - 15:45</p>
                <p>Hrátky s Angličtinou</p>
                <button class="dialog__button button" id="dialog__openBtn--1">Podrobnější pondělní program</button>
            </div>
        </div>

    <!-- //////////////////////////////utery//////////////////////////////// -->
        <div class="regular-event__card regular-event__card--tuesday">
            <div class="regular-event__day"><h3>Úterý</h3></div>
            <div class="regular-event__program">
                <p>8:00 - 12:00</p>
                <p>Klub Žirafky Ve Školce</p>
                <p>15:00 - 15:45</p>
                <p>Hrátky s Angličtinou</p>
                <p>16:00 - 18:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--2">Podrobnější úterní program</button>
            </div>
        </div>

    <!-- //////////////////////////////streda//////////////////////////////// -->
        <div class="regular-event__card regular-event__card--wednesday">
            <div class="regular-event__day"><h3>Středa</h3></div>
            <div class="regular-event__program">
                <p>8:00 - 12:00</p>
                <p>Klub Žirafky Ve Školce</p>
                <p>9:30 - 10:30 (příští setkání 15.3.,22.3. od 10:00)</p>
                <p>Setkávání Se Zvířátky (v areálu Nový Svět)</p>
                <p>15:00 - 16:00</p>
                <p>Rytmíček</p>
                <button class="dialog__button button" id="dialog__openBtn--3">Podrobnější středeční program</button>
            </div>
        </div>

    <!-- ///////////////////////////////ctvrtek/////////////////////////////// -->
        <div class="regular-event__card regular-event__card--thursday">
            <div class="regular-event__day"><h3>Čtvrtek</h3></div>
            <div class="regular-event__program">
                <p>9:00 - 12:00</p>
                <p>Volná Herna</p>
                <p>16:00 - 18:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--4">Podrobnější čtvrteční program</button>
            </div>
        </div>

    <!-- ///////////////////////////////patek/////////////////////////////// -->
        <div class="regular-event__card regular-event__card--friday">
            <div class="regular-event__day"><h3>Pátek</h3></div>
            <div class="regular-event__program">
                <p>9:00 - 12:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--5">Podrobnější páteční program</button>
            </div>
        </div>
    </div>

</section>