
<section>

    <!-- <div class="zruseni-programu"> -->
        <!-- <h2>Od 13.3. - 20.3. je veškerý pravidelný program v Žirafce zrušen z důvodu konání bazárku.</h2> -->
        <!-- <p><strong>NÁHRADNÍ PROGRAM:</strong></p> -->
        <!-- <p>- úterý 14.3. KNIHOVNA od 10:00 - divadelní pohádka o Koblížkovi <br> -->
            <!--- středa 15.3. Setkávání se zvířátky v areálu Nový svět je určeno pro rodiče s dětmi. Během návštěvy se děti seznámí s kočkami, psem, poníky a kozami. Děti se mohou zapojit do péče o zvířata, pomoci při krmení, hřebelcování a na poníkovi se mohou svézt.</p> --> 
            <!-- <p>Setkání probíhá na adrese: <a class="openNewTab" href="https://mapy.cz/zakladni?x=15.8204392&y=50.4257648&z=17&source=addr&id=11719174">17.listopadu 3129, 544 01 Dvůr Králové nad Labem</a></p> --> 
            <!--  <p>Kapacita: 10 dětí + rodiče. Cena: 70 Kč. Na program je nutné se přihlásit přes náš rezervační systém.</p> --> 
            <!-- <p>- čtvrtek 16.3. Výlet do ZOO. Sraz 15:00 před hlavní branou ZOO. Cena 50Kč. Pro případné dotazy a opozdilce volejte 774 948 531.</p> --> 
<!--  -->
<!--  -->
        <!-- </p> -->
    <!-- </div> -->

    <h2>Pravidelný týdenní program</h2>
    
    <div class="regular-event">

        <div class="regular-event__card regular-event__card--monday">
            <div class="regular-event__day"><h3>Pondělí</h3></div>
            <div class="regular-event__program">
                <p>9:00 - 10:00</p>
                <p>Cvičení maminek s miminky</p>
                <p>10:00 - 13:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--1">Podrobnější pondělní program</button>
            </div>
        </div>

    <!-- //////////////////////////////utery//////////////////////////////// -->
        <div class="regular-event__card regular-event__card--tuesday">
            <div class="regular-event__day"><h3>Úterý</h3></div>
            <div class="regular-event__program">
                <p>8:00 - 12:00</p>
                <p>Klub Žirafky Ve Školce</p>
                <p>15:00 - 15:45</p>
                <p>Hrátky s Angličtinou</p>
                <p>16:00 - 18:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--2">Podrobnější úterní program</button>
            </div>
        </div>

    <!-- //////////////////////////////streda//////////////////////////////// -->
        <div class="regular-event__card regular-event__card--wednesday">
            <div class="regular-event__day"><h3>Středa</h3></div>
            <div class="regular-event__program">
                <p>8:00 - 12:00</p>
                <p>Klub Žirafky Ve Školce</p>
                <p>od 10:00</p>
                <p>Setkávání Se Zvířátky (v areálu Nový Svět)</p>
                <p>15:00 - 16:00 (24.5., 31.5., 7.6., 21.6.)</p>
                <p>Rytmíček</p>
                <button class="dialog__button button" id="dialog__openBtn--3">Podrobnější středeční program</button>
            </div>
        </div>

    <!-- ///////////////////////////////ctvrtek/////////////////////////////// -->
        <div class="regular-event__card regular-event__card--thursday">
            <div class="regular-event__day"><h3>Čtvrtek</h3></div>
            <div class="regular-event__program">
                <p>9:00 - 12:00</p>
                <p>Volná Herna</p>
                <p>15:00 - 15:45</p>
                <p>Hrátky s Angličtinou</p>
                <p>16:00 - 18:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--4">Podrobnější čtvrteční program</button>
            </div>
        </div>

    <!-- ///////////////////////////////patek/////////////////////////////// -->
        <div class="regular-event__card regular-event__card--friday">
            <div class="regular-event__day"><h3>Pátek</h3></div>
            <div class="regular-event__program">
                <p>9:00 - 12:00</p>
                <p>Volná Herna</p>
                <button class="dialog__button button" id="dialog__openBtn--5">Podrobnější páteční program</button>
            </div>
        </div>
    </div>

</section>