<div id="skiptocontent">
    <a href="#main" class="">
        <span style="vertical-align: inherit;">
            <p style="vertical-align: inherit;padding: 0;"><strong>Přeskočit na hlavní obsah</strong> </p>
        </span>
    </a>
</div>