<div id="skiptocontent">
    <a href="#main" class="">
        <span style="vertical-align: inherit;">
            <p style="vertical-align: inherit;">Přeskočit na hlavní obsah</p>
        </span>
    </a>
</div>