<h2>Sponzoři</h2>
<div class="sponsors">
    <div class="sponsors__item"><a href="" class="sponsors__hyperlink"><img src="/images/logo_kraj_hradec.jpg" class="sponsors__img" alt=""></a></div>
    <div class="sponsors__item"><a href="" class="sponsors__hyperlink"><img src="/images/logo_MPSV_vyska_barva.jpg" class="sponsors__img" alt=""></a></div>
    <div class="sponsors__item"><a href="" class="sponsors__hyperlink"><img src="/images/logo_tesco-700x206.jpg" class="sponsors__img" alt=""></a></div>
    <div class="sponsors__item"><a href="" class="sponsors__hyperlink"><img src="/images/logo_ZnakmestaDKnL.png" class="sponsors__img" alt=""></a></div>
</div>