<section>
    <h2>Sponzoři</h2>
    <div class="sponsors">
        <div class="sponsors__item"><a href="https://www.kr-kralovehradecky.cz/" class="sponsors__hyperlink"><img src="/images/sponzori/kralovehradecky-kraj-logo-velke.svg" class="sponsors__img" alt="Logo Královéhradecký kraj"></a></div>
        <div class="sponsors__item"><a href="https://www.mpsv.cz/" class="sponsors__hyperlink"><img src="/images/sponzori/logo_mpsv.svg" class="sponsors__img" alt="Logo Ministerstvo práce a sociálních věcí"></a></div>
        <div class="sponsors__item"><a href="https://itesco.cz/" class="sponsors__hyperlink"><img src="/images/sponzori/logo_tesco.svg" class="sponsors__img" alt="Logo Tesco"></a></div>
        <div class="sponsors__item"><a href="https://www.mudk.cz/" class="sponsors__hyperlink"><img src="/images/sponzori/dvur.svg" class="sponsors__img" alt="Logo Město Dvůr Králové nad Labem"></a></div>
        <div class="sponsors__item"><a href="https://carlachocolate.com/cokolada" class="sponsors__hyperlink"><img src="/images/sponzori/logo_carla.svg" class="sponsors__img" alt="Logo Carla"></a></div>
        <div class="sponsors__item"><a href="https://milujemedorty.cz/" class="sponsors__hyperlink"><img src="/images/sponzori/logo_milujeme-dorty.png" class="sponsors__img" alt="Logo Milujeme dorty"></a></div>
        <div class="sponsors__item"><a href="https://www.verolina.cz/" class="sponsors__hyperlink"><img src="/images/sponzori/logo_verolina.jpeg" class="sponsors__img" alt="Logo Verolina"></a></div>
    </div>
</section>