    <div class="recent-event__card">
        <div class="recent-event__description">
            <h3 class="recent-event__title">{{ title }}</h3>
            <p class="recent-event__text">
                <em>Kdy:</em> {{ Kdy }} <br>
                <em>Kde:</em> {{ Kde }} <br>
                <em>Cena:</em> 500Kč / 3 fotografie <br>
            </p>
        </div>
        <div class="recent-event__leaflet">
            <a data-fslightbox href="/images/vanocni-foceni-max.png"><img src="/images/vanocni-foceni-min.jpg" class="recent-event__image" alt=""></a>
        </div>
    </div>
