@use '../abstracts/variables' as v;

.button {
    padding: v.$spacer-small v.$spacer-big;
    margin-top: v.$spacer;
    border: none;
    border-radius: v.$radius;
    background-color: v.$buttonColor;
    color: v.$lightColor;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: v.$tertiaryColor;
        color: v.$textColor;
        transition: all 0.3s;
    }
}

.button__link {
    padding: v.$spacer-small v.$spacer-big;
    margin-top: v.$spacer;
    color: v.$lightColor;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: v.$radius;
    background-color: v.$buttonColor;
    display: inline-block;

    &:hover {
        background-color: v.$tertiaryColor;
        color: v.$textColor;
        transition: all 0.3s;
    }
}

button:focus-visible {
    outline: 6px dotted v.$focusColor;
}   

