@use '../abstracts/variables' as v;

.glide {
    width: 100%;
    z-index: 2;

    &__slides {
        height: 25rem;
    }

    &__track {
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
    }

    &__slide--link {
        text-decoration: none;
    }

    &__picture-1 {
        background-image: url(/images/carousel-1.svg);
        background-size: cover;
        background-position: bottom left;
    }

    &__picture-2 {
        background-image: url(/images/carousel-2.png);
        background-size: cover;
        background-position: bottom center;
        color: white;
    }

    &__picture-3 {
        background-image: url(/images/carousel-3.png);
        background-size: cover;
        background-position: bottom center;
        color: white;
    }
    
    &__event-name {
        font-size: 2.5rem;
        color:v.$carouselFontColor;
        padding:  v.$spacer-big v.$spacer-middle 0 v.$spacer-middle;

        &--1 {
            font-size: 2.5rem;
            color: #34131a;
            background-color: #D8C0A1;
            padding: auto;
        }

        &--2 {
            font-size: 2.5rem;
        }
    }
    
    &__event-date {
        color: v.$carouselFontColor;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        padding-left: v.$spacer-small;
        padding-right: v.$spacer-small;

        &--2 {
            color:black;
            font-size: 1.7rem;
            padding-top: v.$spacer-middle;
        }

        &--1 {
            font-size: 1.7rem;
        }
    }

    &__arrow {
        color: black;
    }
    
    @media  screen and (min-width:v.$minwidth-computer) { 
        max-width: v.$maxwidth-carousel;
        margin-left: auto;
        margin-right: auto;
    }
}
