@use '../abstracts/variables' as v;

.glide {
    width: 100%;
    z-index: 2;

    &__slides {
        height: 25rem;
    }

    &__slide--link {
        text-decoration: none;
    }

    &__picture-1 {
        background-image: url(/images/carousel-1.png);
        background-size: cover;
        background-position: bottom center;
    }

    &__picture-2 {
        background-image: url(/images/carousel-2.png);
        background-size: cover;
        background-position: bottom center;
    }
    
    &__event-name {
        font-size: 3.5rem;
        color:v.$carouselFontColor;
        padding:  v.$spacer-small v.$spacer-middle ;
    }
    
    &__event-date {
        color: v.$carouselFontColor;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }

    &__arrow {
        color: black;
    }
    
    @media  screen and (min-width:v.$minwidth-computer) { 
    }
}
