@use '../abstracts/variables' as v;

.footer {
    &__copyright {
        display: block;
        text-decoration: none;
        padding: 1rem;
        background-color: v.$greyColor;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 300;
        color: v.$lightColor;
        transform: translateY(3rem);
    }
}