@use '../abstracts/variables' as v;

.fotogalerie {
    max-width: calc(100vw - 2*v.$spacer-small);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,minmax(200px,1fr));
    row-gap: v.$spacer-middle;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
    "hernicka"
    "akce"
    "program";

    &__grid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        column-gap: v.$spacer-small;
        row-gap: v.$spacer-small;
    }

    &__grid img {
        width: 100%;
    }

    &__skupina {
        padding: v.$spacer-middle;
    }


    &__hernicka {
        background-image: url(/images/fotogalerie/hernicka/hlavni-hernicka.jpg);
        background-size: cover;
        grid-area: hernicka;
    }

    &__akce {
        background-image: url(/images/fotogalerie/akce/hlavni-akce.jpg);
        background-size: cover;
        text-align: center;
        grid-area: akce;
    }

    &__program {
        background-image: url(/images/fotogalerie/pravidelny-program/hlavni-pravidelny-program.jpg);
        background-size: cover;
        text-align: center;
        grid-area: program;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;
        font-weight: 600;
        color: white;
        text-decoration: none;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        padding: v.$spacer-middle;
    }

    @media screen and (min-width:v.$minwidth-tablet) {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,auto);
        column-gap: v.$spacer-middle;    
        grid-template-areas:
        "hernicka hernicka akce akce"
        ".        program   program   .";

    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        column-gap: v.$spacer-middle;    
        grid-template-areas:
        "hernicka akce program";

        &__link:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }
    }
}