.header {
    width: 100%;
    // height: 1000px;
    position: relative;
    padding-bottom: 50px;

    &--grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 130px 300px;
    }


}

