@use '../abstracts/variables' as v;

.header {

    @keyframes mrk {
        0% {transform: scaleY(1)}
        10% {transform: scaleY(0.1)}
        50% {transform: scaleY(1)}
        100% {transform: scaleY(1)}
    }

    @keyframes toceniocivlevo {
        0% {transform: rotate(0)}
        80% {transform: rotate(0)}
        85% {transform: rotate(90deg)}
        90% {transform: rotate(180deg)}
        95% {transform: rotate(270deg)}
        100% {transform: rotate(360deg)}
    }

    @keyframes toceniocivpravo {
        0% {transform: rotate(0)}
        80% {transform: rotate(0)}
        85% {transform: rotate(-90deg)}
        90% {transform: rotate(-180deg)}
        95% {transform: rotate(-270deg)}
        100% {transform: rotate(-360deg)}
    }

    #g2290 {
        animation: mrk 4s infinite both ease;
        transform-origin: 0 281.77px;
    }

    #path3163 {
        animation: toceniocivlevo 4s infinite both ease;
        transform-origin: 390px 281.77px;
    }

    #path3161 {
        animation: toceniocivpravo 4s infinite both ease;
        transform-origin: 440px 281.77px;
    }

    &--picture-left {
        height: 8rem;
        position: absolute;
        bottom: 0;
    }

    &--picture-left {
        left: 10vw;
        top: 1rem;
    }

    @media  screen and (min-width:v.$minwidth-computer) { 
        &--picture-left {
            left: calc((100% - v.$maxwidth)/2);
        }
    }
}