@use '../abstracts/variables' as v;

.menu {
    padding-top: v.$spacer-big;
    padding-bottom: v.$spacer-middle;
    z-index: 3;

    &__list {
        margin: 0;
        list-style: none;
        font-size: 1.2rem;
        background-color: v.$primaryColor;
        padding: 0;
        display: none;
    }

    &__item {
        border-bottom: 1px solid white;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: black;
        padding: v.$spacer-middle;
        font-weight: 500;
    }

    &__link:hover {
        background-color: v.$buttonColor;
        color: v.$primaryColor;
    }

    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__toggler {
        cursor: pointer;
        text-align: left;
        padding-left: 15vw;
    }

    &__toggler img {
        height: 4rem;
    }


    &__checkbox:checked ~ &__list {
        display: block;
    }

    @media  screen and (max-width:v.$minwidth-computer) {
        &__checkbox:checked ~ &__list {
            display:block;
        }
    }

    @media  screen and (min-width:v.$minwidth-computer) {   
        display: flex;
        
        &__toggler {
            display:none;
        }

        &__list {
            display: flex;
            border-bottom-left-radius: v.$radius;
            border-top-right-radius: v.$radius;
            max-width: v.$maxwidth;
            margin-left: auto;
            margin-right: auto;
        }

        &__checkbox:checked ~ &__list {
            display:flex;
        }

        &__item {
            border-bottom: 0;
            border-right: 1px solid white;
        }

        &__item:last-child {
            border-bottom: 0;
            border-right: 1px solid white;
            border-start-end-radius: inherit;
        }


    }
}