@use '../abstracts/variables' as v;

.menu {
    padding-top: v.$spacer-big;
    max-width: 56rem;
    z-index: 2;

    &__list {
        margin: 0;
        // margin: 0 auto 0 auto;
        list-style: none;
        font-size: 1.2rem;
        background-color: v.$primaryColor;
        border-bottom-left-radius: v.$radius;
        border-top-right-radius: v.$radius;
        padding: 0;
        display: none;
    }

    &__item {
        border-bottom: 1px solid white;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: black;
        padding: v.$spacer-middle;
    }

    &__link:hover {
        // padding: v.$spacer-middle;
        background-color: blue;
        color: v.$primaryColor;
    }

    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__toggler {
        cursor: pointer;
        font-size: 50px;
        text-align: left;
        padding-left: 25vw;
    }

    &__checkbox:checked ~ &__list {
        display: block;
    }

    @media  screen and (max-width:v.$minwidth-mobil) {
        &__checkbox:checked ~ &__list {
            display:block;
        }
    }

    @media  screen and (min-width:v.$minwidth-mobil) {
        &__toggler {
            display:none;
        }

        &__list {
            display: flex;
        }

        &__item {
            border-bottom: 0;
            border-right: 1px solid white;
        }
    }
}