@use '../abstracts/variables' as v;

.aboutus {

    margin-left: auto;
    margin-right: auto;

    &__card {
        max-width: calc(100vw - 2*v.$spacer-small);
        background-color: v.$primaryColor;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        padding: v.$spacer-middle;
        margin-left: auto;
        margin-right: auto;
    }

    &--hyperlink {
        text-decoration: none;
        color: black;
    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;

    }
}