@use '../abstracts/variables' as v;

.aboutus {
    margin: v.$spacer-middle auto 0 auto;
    row-gap: v.$spacer-middle;

    &__link {
        font-weight: 700;

        &--external:after {
            content: '';
            display: inline-block;
            background-image: url(/images/newtab.svg);
            background-position: cover;
            background-repeat: no-repeat;
            width: 0.9em;
            height: 0.9em;
            margin-left: 0.5em;
        }
    }

    &__link:link {
        color: v.$buttonColor;
    }

    &__link:visited {
        color: #212121;
    }

    &__link:hover {
        color: v.$tertiaryColor;
    }


    // &__link:focus {
    //     color: v.$secondaryColor;
    //     background-color: pink;
    // }

    // &__link:hover {
    //     color: v.$secondaryColor;
    // }

    // &__link:active {
    //     color: red;
    // }

    &__card {
        max-width: calc(100vw - 2*v.$spacer-small);
        background-color: v.$primaryColor;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        padding: v.$spacer-middle;
        margin: v.$spacer-middle auto 0 auto;
        text-align: left;

        &--uvod {
            text-align: center;
        }

        & p:last-child {
            padding-bottom: 0;
        }

    }

    &__button {
        margin-left: auto;
        margin-right: auto;
    }

    &__description {
        padding-bottom: v.$spacer-middle;
        text-align: justify;
    }

    &__banner-givt {
        text-align: center;
    }

    &__banner-givt img {
        max-width: 100%;
        padding-top: v.$spacer-middle;
    }

    &__ordered-list-item + &__ordered-list-item {
        padding-top: v.$spacer-small;
    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;
    }
}

.ourteam {
    max-width: calc(100vw - 2*v.$spacer-small);
    margin: 80px auto 40vw auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 calc(50% - v.$spacer-middle);
    row-gap: 90px;
    column-gap: v.$spacer-middle;

    &__person {
        width: 100%;
        background-color: v.$primaryColor;
        box-shadow: 1 1px 3px rgba(0,0,0,0.1);
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        position: relative;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    &__name {
        margin-top: 0;
        margin-bottom: v.$spacer-small;
        text-align: center;
    }

    &__foto {
        height: 100px;
        padding: 10px;
        position: absolute;
        left: calc( 50% - 120px/2 );
        top: -70px;
        margin: 0;       
    }

    &__img {
        display: block;
        width: 120px;
        margin: 0 auto;
        border: 1px solid v.$textColor;
        border-radius: 50%;
        box-shadow: 0 -5px 10px v.$greyColor;
        background-color: white; 

        &--realfoto {
            border: 0;
        }
    }

    &__description {
        padding: 30px;
    }

    @media screen and (min-width:v.$minwidth-tablet) {
        &__person {
            width: calc(50% - v.$spacer-middle);
        }
    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;
    }
}