@use '../abstracts/variables' as v;

.aboutus {

    &__card {
        max-width: calc(100vw - 2*v.$spacer-small);
        background-color: v.$primaryColor;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        margin-left: auto;
        margin-right: auto;
        padding: v.$spacer-middle;
    }

    &--hyperlink {
        text-decoration: none;
        color: black;
    }
}