@use '../abstracts/variables' as v;

.pravidelny-program {
    max-width: calc(100vw - 2*v.$spacer-small);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: v.$spacer-middle;
    margin: v.$spacer-middle auto 40vw auto;
    text-align: center;

    &__card {
        background-color: v.$primaryColor;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
    }

    &__akce {
        background-color: v.$secondaryColor;
        border-top-right-radius: v.$radius;
        color: v.$lightColor;
        padding-bottom: v.$spacer-middle;
    }

    &__popis {
        padding: v.$spacer-middle;
    }

    &__casy {
        background-color: v.$primaryColor-similar;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        text-align: center;
        font-weight: 300;
        padding: v.$spacer-small;
        display: inline-block;
    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;
    }
}