@use '../abstracts/variables' as v;

.recent-event {
    margin: v.$spacer-middle auto 40vw auto;
    max-width: calc(100vw - 2*v.$spacer-small);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    flex: 1 1 calc(50% - v.$spacer-middle);
    gap: v.$spacer-middle;

    &--uvod {
        margin-bottom: 0;
    }

    &__card {
        width: 100%;
        padding: v.$spacer-middle;
        background-color: var(--primaryColor);
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
    }

    &__description {
        text-align: left;
    }

    &__title {
        text-align: center;
        padding-bottom: v.$spacer-middle;
        padding-top: 0;
    }

    &__text {
        line-height: 2;
        color: var(--textColor);
    }

    &--hyperlink {
        text-decoration: none;
        color: var(--textColor);
    }
    &__image {
        width: 100%;
        border-top-right-radius: v.$spacer-middle;
        border-bottom-left-radius: v.$spacer-middle;

        // @media (prefers-color-scheme: dark){
            // filter:brightness(0.8);
        // }
    }

    &__leaflet {
        align-self: center;
        margin-top: v.$spacer-middle;

        @media screen and (min-width:v.$minwidth-computer) {
            margin-top: 0;
        }
    }

    @media screen and (min-width:v.$minwidth-tablet-akce) {
        &__card {
            width: calc(50% - v.$spacer-middle);
        }
    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;

        &__description {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: v.$spacer-middle;

        }
    }
}

// @media (prefers-color-scheme: dark) {
    // .fslightbox-opacity-1 {
        // filter:brightness(0.9); 
    // }
// }