@use '../abstracts/variables' as v;

.regular-event {
    max-width: calc(100vw - 2*v.$spacer-small);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
    row-gap: v.$spacer-middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &__card {
        background-color: v.$primaryColor;
        border: 1px solid black;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        padding-bottom: v.$spacer-middle;
    }

    &__day {
        background-color: v.$secondaryColor;
        padding: v.$spacer-middle;
        border-top-right-radius: v.$radius;
        color: white;
    }

    &__program p:first-child {
        padding-top: v.$spacer-middle;
    }

    &__program p:nth-child(even) {
        padding-bottom: v.$spacer-small;
    }

    &__program p:nth-child(2n+3)::before {
        background-color: v.$primaryColor; 
        border: 1px dashed black;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        transform: translate(10%,0);
        width: 80%;
        margin-bottom: v.$spacer-small;
    }

    &__program p:nth-child(odd) {
        padding-bottom: v.$spacer-small;
    }

    &__program p:last-child {
        padding-bottom: v.$spacer-middle;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    transform: translateY(-50%);
    background: v.$buttonColor;
    overflow: hidden;
    z-index: 3;
}

.popup .content {
    padding: 30px 20px;
    width: 100%;
    max-width: 0 auto;
    opacity: 0;
}

.popup .content .popup__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    color: pink;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.popup.active {
    animation: popupAnimation 1500ms ease-in-out forwards;
}

.popup.active .content {
    opacity: 1;
    transition: all 300ms ease-in-out 1500ms;
}

@keyframes popupAnimation   {
    0% {
        width: 0%;
        height: 0%;
    }
    50% {
        width: 100%;
        height: 2px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

