@use '../abstracts/variables' as v;

.regular-event {
    max-width: calc(100vw - 2*v.$spacer-small);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
    row-gap: v.$spacer-middle;
    margin: v.$spacer-middle auto 0 auto;
    text-align: center;
    grid-template-areas:
    "monday-grid"
    "tuesday-grid"
    "wednesday-grid" 
    "thursday-grid"
    "friday-grid";

    &__card {
        background-color: v.$primaryColor;
        border-top-right-radius: v.$radius;
        border-bottom-left-radius: v.$radius;
        padding-bottom: v.$spacer-middle;
    }

    &__day {
        background-color: v.$secondaryColor;
        border-top-right-radius: v.$radius;
        color: white;
        padding-bottom: v.$spacer-middle;
    }

    &__program  p {
        text-align: center;      
    }

    &__program p:nth-child(n) {
        padding: v.$spacer-small;      
    }

    &__program p:nth-child(odd) {    
        background-color: v.$primaryColor-similar;
    }

    &__card--monday {
        grid-area: monday-grid;
    }
    &__card--tuesday {
        grid-area: tuesday-grid;
    }
    &__card--wednesday {
        grid-area: wednesday-grid;
    }
    &__card--thursday {
        grid-area: thursday-grid;
    }
    &__card--friday {
        grid-area: friday-grid;
    }

    @media screen and (min-width:v.$minwidth-tablet) {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        row-gap: 1rem;
        column-gap: 1rem;
        align-items: stretch;
        grid-template-areas:
        "monday-grid    monday-grid     tuesday-grid    tuesday-grid"
        "wednesday-grid wednesday-grid  thursday-grid   thursday-grid"
        ".              friday-grid        friday-grid  .";
    }

    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: auto;
        row-gap: 1rem;
        column-gap: 1rem;
        align-items: stretch;
        grid-template-areas:
        "monday-grid    monday-grid     tuesday-grid    tuesday-grid wednesday-grid wednesday-grid  "
        ".              thursday-grid   thursday-grid   friday-grid  friday-grid    .           ";
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    transform: translateY(-50%);
    background: v.$primaryColor-similar;
    overflow: auto;
    z-index: 3;

    & .content {
        padding: auto 20px;
        width: 100%;
        max-width: 0 auto;
        opacity: 0;
        margin-bottom: v.$spacer-big;

        @media screen and (min-width:v.$minwidth-computer) {
            max-width: v.$maxwidth;
            margin-left: auto;
            margin-right: auto;
        }
    }

    & .content &__btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: black;
        font-size: 40px;
        cursor: pointer;
        border-radius: 50%;
    }

    &.active {
        animation: popupAnimation 1500ms ease-in-out forwards;
    }

    &.active .content {
        opacity: 1;
        transition: all 100ms ease-in-out 1300ms;
    }

    @keyframes popupAnimation   {
        0% {
            width: 0%;
            height: 0%;
        }
        50% {
            width: 100%;
            height: 2px;
        }
    
        100% {
            width: 100%;
            height: 100%;
        }
    }

    &__event-name {

        &:first-of-type {
            padding-top: 4rem;  
        }
    }

    &__event-time {
        font-weight: 300;
        padding-top: v.$spacer-small;
        font-style: italic;
        font-size: 0.9rem;
        text-align: center;
    }

    &__event-text {
    }
}











