@use '../abstracts/variables' as v;

/* skok na hlavní oblast*/
#skiptocontent {
  & a {
    padding: 0.5rem;
    padding-top: 1rem;
    position: absolute;
    top: -4.5rem;
    left: 0px;
    color: white;
    // border-right: 1px solid white;
    // border-bottom: 1px solid white;
    border-bottom-right-radius: v.$radius;
    background: var(--focusColor);
    // transition: top 1s ease-in-out;
    z-index: 100;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
}

.skiptocontent__text {
  color: white;
}
  
  #skiptocontent a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    // outline-color: transparent;
    transition: top 0.4s ease-in-out;
  }