@use 'variables' as v;

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
}

p {
  margin: 0;
  font-size: 1rem; 
  font-weight: 400; 
  padding-bottom: v.$spacer-small;
  line-height: 1.5;
}

h1,h2,h3 {
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2::after {
    background-color: transparent;
    content: '';
    display: block;
    padding-top: v.$spacer-small;
    border-bottom: 5px dotted v.$primaryColor;
    width: 10vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-top: v.$spacer-big;
    padding-bottom: v.$spacer-big;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: v.$spacer-middle;
    padding-bottom: v.$spacer-middle;
}

p::selection,h1::selection, h2::selection,h3::selection {
    background-color: yellow;
    color: rgb(20, 10, 2);
  }

// a:focus {
//     background-color: aqua;
// }   