$primaryColor:#FFCC00;
$primaryColor-similar:#E6B800;
$secondaryColor:#324376;
$tertiaryColor:white;
$buttonColor:#63B4D1;
$carouselFontColor:black;

$spacer:1rem;
$spacer-small:0.5rem;
$spacer-middle:1.5rem;
$spacer-big:2rem;
$radius:15px;

$minwidth-tablet:37rem;
$minwidth-computer:63rem;
$maxwidth:60rem;

$maxwidth-carousel:80rem;
$minwidth-tablet-akce:30rem;