$primaryColor:#FFCC00;
$primaryColor-similar:#E6B800;
// $secondaryColor:#6b4b3e;
$secondaryColor:#8d695c;
$tertiaryColor:#95b2b8;
// $buttonColor:#63B4D1;
$buttonColor:#205c6a;
$carouselFontColor:black;

$spacer:1rem;
$spacer-small:0.5rem;
$spacer-middle:1.5rem;
$spacer-big:2rem;
$radius:15px;

$minwidth-tablet:37rem;
$minwidth-computer:63rem;
$maxwidth:70rem;

$maxwidth-carousel:80rem;
$minwidth-tablet-akce:30rem;