<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/glide.core.min.css">
    <link rel="stylesheet" href="/css/glide.theme.min.css">
    <title>{{ title }}</title>
</head>
<body class="body--background ">

    {% include 'partials/header.njk' %}

    <main>
        {{ content | safe }}
    </main> 


    {% include 'partials/contact.njk' %}
    <script>
      // Modal window START
      document.querySelector("#popup-open-btn1").addEventListener("click",function(){
      document.querySelector(".popup1").classList.add("active");
        });
      document.querySelector(".popup1 .popup__btn-close1").addEventListener("click",function(){
      document.querySelector(".popup1").classList.remove("active");
        });
      // Modal window END

      // Modal window START
      document.querySelector("#popup-open-btn2").addEventListener("click",function(){
      document.querySelector(".popup2").classList.add("active");
        });
      document.querySelector(".popup2 .popup__btn-close2").addEventListener("click",function(){
      document.querySelector(".popup2").classList.remove("active");
        });
      // Modal window END

      // Modal window START
      document.querySelector("#popup-open-btn3").addEventListener("click",function(){
      document.querySelector(".popup3").classList.add("active");
        });
      document.querySelector(".popup3 .popup__btn-close3").addEventListener("click",function(){
      document.querySelector(".popup3").classList.remove("active");
        });
      // Modal window END

      // Modal window START
      document.querySelector("#popup-open-btn4").addEventListener("click",function(){
      document.querySelector(".popup4").classList.add("active");
        });
      document.querySelector(".popup4 .popup__btn-close4").addEventListener("click",function(){
      document.querySelector(".popup4").classList.remove("active");
        });
      // Modal window END

      // Modal window START
      document.querySelector("#popup-open-btn5").addEventListener("click",function(){
      document.querySelector(".popup5").classList.add("active");
        });
      document.querySelector(".popup5 .popup__btn-close5").addEventListener("click",function(){
      document.querySelector(".popup5").classList.remove("active");
        });
      // Modal window END


    </script>

    <!-- // carousel -->
    <script src="/js/glide.min.js"></script>

    <script>
      new Glide('.glide', {
        autoplay: 5000,
        hoverpause: false,
        perView: 1,
        type: 'carousel'
      }).mount()
    </script>

    <!-- //lightbox -->
  <!-- <script src="/js/fslightbox.min.js"></script> -->

</body>
</html>