<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all,index">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="description" lang="cs" content="{{ metaDescription }}">
    <meta name="keywords" lang="cs" content="herna, hernička, pro děti, Dvůr Králové and Labem, školka,výlety">


    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/glide.core.min.css">
    <link rel="stylesheet" href="/css/glide.theme.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <!-- <link rel="shortcut icon" href="/icons/favicon.ico"> -->
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
      
    <meta property="og:title" content="Mateřské centrum Žirafa">
    <meta property="og:description" content="Přijďte si s dětmi pohrát do naší herny nebo navštivte další pravidelný program např. Angličtinku, Rytmíček nebo Cvičení s miminky. Pořádáme také bazárky oblečení, různé výlety atd.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.mc-zirafa.cz/images/stranky.PNG">
    <meta property="og:url" content="https://www.mc-zirafa.cz/">
    <meta property="og:locale" content="cs_CZ">

    <title>{{ title }}</title>
</head>

<body class="body--background ">

  {% include 'partials/skipToMainContent.njk' %}
    {% include 'partials/header.njk' %}

    <main id="main">

      {{ content | safe }}

    </main> 


    {% include 'partials/footer.njk' %}

    <!-- // carousel -->
    <script src="/js/glide.min.js"></script>

    <script>
      new Glide('.glide', {
        autoplay: 8000,
        hoverpause: false,
        perView: 1,
        type: 'carousel'
      }).mount()
    </script>

    <!-- //lightbox -->
  <script src="/js/fslightbox.js"></script>

</body>
</html>